<div class="page-content container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="widget">
        <div class="widget-heading clearfix">
          <h3 class="widget-title pull-left">Emails</h3>
        </div>
        <div class="widget-body">
          <div class="table-responsive">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th>Client</th>
                  <th>Body</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <% @emails.each do |email| %>
                  <tr>
                    <td><%= email.client&.full_name %></td>
                    <td><%= email.body %></td>
                    <td><%= email.created_at %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
