<div class="table-responsive">
  <table class="table mb-0 table-hover">
    <thead>
      <tr>
        <th>Subject Name</th>
        <th>Tutors</th>
        <th>Category</th>
        <th>Tutoring Type</th>
      </tr>
    </thead>
    <tbody>
      <%= render subjects %>
    </tbody>
  </table>
</div>
