<div class="table-responsive">
  <table class="table mb-0 table-hover">
    <thead>
      <tr>
        <th>Subject Name</th>
        <th class="text-center">Tutors</th>
        <th class="text-center">Engagements</th>
        <th class="text-center">Category</th>
        <th class="text-center">Tutoring Type</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render subjects %>
    </tbody>
  </table>
</div>
