<!-- This div contains the data to be passed to the React components -->
<%= content_tag :div,
  id: "subjects",
  data: @subjects.to_json do %>
<% end %>

<!-- This is the target div that our React script will insert elements into -->
<div id="root"></div>

<!-- Adding the component script -->
<%= javascript_pack_tag "admin_subject_table" %>
