<div class="row">
  <div class="col-sm-12">
    <div class="widget">
      <div class="widget-heading clearfix">
        <h3 class="widget-title pull-left">Subjects</h3>
      </div>
      <div class="widget-body">
        <%= render "subject_table", subjects: @subjects %>
      </div>
    </div>
  </div>
</div>
