<%= render "layouts/page_widget", title: "Reviews", heading_html: render("request_review_form") do %>
  <div class="table-responsive">
    <table class="table mb-0 table-striped text-center">
      <thead>
        <tr>
          <th class="text-center">Submitter</th>
          <th class="text-center">Rating</th>
          <th class="text-center">Publishable?</th>
          <th class="col-xs-9 text-center">Review</th>
          <th class="col-xs-9 text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render @reviews %>
      </tbody>
    </table>
  </div>
<% end %>
