<div class="container">
  <section>
    <div class="row">
      <div class="col-lg-6">
        <div class="text-center">
          <h4 class="mt0">Sign Up Process</h4>
        </div>
        <p class="m-15">At Top Tutoring, it is our top priority to ensure you receive the best tutoring solution for your academic needs. In order to get in touch with one of our Directors for a free consultation, you can either submit the provided form or call us at:</p>
        <div class="text-center">
          <%= phone_number_display("15108425221") %>
        </div>
        <p class="m-15"> Already have an account?
        <%= link_to "Sign in", sign_in_path %>
        </p>
        <%= image_tag("yellownotebook.jpg", class: "visible-lg center-block contact-us-image") %>
      </div>

      <div class="col-lg-6">
        <%= render "new_client_form", submit_url: users_clients_path %>
      </div>
    </div>
  </section>
</div>
