<section>
  <div class="container">
    <h4 class="uppercase"><b>INTRODUCTION</b></h4>
    <p>Top Tutoring LLC(TT) is
    dedicated to protecting your personal information and will make every
    reasonable effort to handle collected information appropriately. All
    information collected will be handled with care in accordance with
    TT’ standards for integrity and objectivity. TT endeavors to
    comply with all U.S. and international laws and regulations that apply
    to the gathering and use of personal information. As used in this
    policy, “we” and “us” includes TT and our staff, employees,
    officers, directors, and vendors and
    independent contractors under contract with us. “TT Sites” includes
    the following: the web pages and content on the TT websites, and the tools, software, submission systems, web forms, registration system, and any other means through which we interact
    with you.</p><h5><b>YOUR USE OF AND INTERACTION WITH THE TT SITES
        CONSTITUTES YOUR UNCONDITIONAL ACCEPTANCE OF THE PRACTICES
        DESCRIBED IN THIS PRIVACY POLICY, AS THEY MAY BE MODIFIED FROM
        TIME TO TIME. IF YOU DO NOT AGREE WITH AND ACCEPT ALL OF THE
        PRACTICES DESCRIBED IN THIS PRIVACY POLICY, DO NOT USE THE TT
        SITES AND DO NOT PROVIDE OR SUBMIT ANY PERSONALLY-IDENTIFYING
        INFORMATION BY MEANS OF OR WHILE USING THE TT SITES. BY
        PROVIDING PERSONAL INFORMATION TO US, YOU CONSENT TO OUR
        COLLECTION, USE AND DISCLOSURE OF YOUR PERSONAL INFORMATION IN
        ACCORDANCE WITH THIS PRIVACY
        POLICY.</b></h5><p></p>

    <p><b>INFORMATION WE MAY
      COLLECT</b></p>

    <p><b>Personal Information</b></p>
    <p>While interacting with the TT Sites, we may request personal information
    from you, including but not limited to things such as your name,
    mailing address, email address, telephone number,
    credit card or other payment information. Your provision
    of such information is strictly voluntary. You can generally visit the
    TT Sites without disclosing such information.</p>

    <p><b>Technical Information</b></p>
    <p>Additionally, by means of your interactions
    with the TT Sites, we may collect, have access to, store and use
    your computer’s IP address, the URL/domain name of any referring
    website, the time and date of your visit to the TT Sites, and
    certain information known as “clickstream data” to enable us to
    understand how people interact with the TT Sites, to analyze data
    for trends and statistics, to help diagnose and solve issues with the
    TT Sites and our technologies, products, and services, and to
    optimize the performance of the TT Sites. We also use session
    cookies, small data files stored in your browser so you don’t have to
    log in each time you visit any of our web pages. From time to time, we
    use software tools to play back user sessions for purposes of
    assessing our customers’ interactions with our software, and these
    sessions may be linked to your user account. If you do not want
    session cookies stored on your computer, you may be able to adjust
    your browser settings to prevent this, but note that by not accepting
    cookies, some pages may not fully function and you may not be able to
    access certain information on the TT Sites.</p>

    <p><b>Protection of Children</b></p>
    <p>Use of the TT Sites is intended for adults at
    least eighteen (18) years of age, and we will not knowingly collect
    personally-identifying information from children under the age of
    thirteen (13). TT endeavors to adhere to the provisions of the
    Children's Online Privacy Protection Rule
    ("COPPA").</p><p><br></p>

    <p><b>HOW WE MAY USE AND DISCLOSE YOUR
      INFORMATION</b></p>
    <p><b>Use by TT</b></p>
    <p>TT uses your
    personal information as described above, and to customize your
    experience on the TT Sites and to facilitate our interactions with
    you, if any. Except as where necessary to provide services to you,
    such as to communicate with you regarding a tutoring sessions,
    TT staff do not typically take note of your personal
    information; the information is mainly stored on or by our computers,
    computer networks, servers, tools, and systems, as described
    above.</p>
    <p><b>Potential Disclosure to Third Parties</b></p>
    <p>We may disclose personal information as reasonably necessary for the purposes
    described in this privacy policy to our employees and to third parties
    under contract with us such as vendors, independent
    contractors, and consultants, to financial institutions for the
    purposes of facilitating payment of fees owed, web and technical
    support providers, other publishers and/or content hosting providers
    under contract with us, third parties authorized by you to receive
    such information, and as may be required or permitted by law.
    </p>

    <p><b>No Sale or Leasing of Your
      Information</b></p><p>Except as described in this privacy policy, we
    will not disclose your personal information to third parties without
    your consent. We will not sell or lease your personal information to
    any third party. We may disclose aggregate demographic and statistical
    information with our business partners; this information is not
    specific to the identification of you as an
    individual.</p><p><br></p>

    <p><b>THIRD PARTY WEBSITES</b></p><p>If, in
    your interactions with the TT Sites, you are linked or directed to,
    or click on, a third party website, we cannot control what information
    you may provide to that party or on/at that website, or how that party
    may use or disclose any information you may provide to them. As such,
    we urge that you exercise caution before providing them with your
    personal information.</p><p><br></p>

    <p><b>CONSENT TO RECEIVE EMAIL
      COMMUNICATIONS</b></p><p>Except in countries or jurisdictions where
    it is not be permitted by law, we may from time to time send you email
    communications regarding our business, products or services in
    response to your use of the TT Sites. By providing your email
    address, you consent to receive such communications, but may opt out
    of receiving such communications by contacting us at <a
        href="mailto:privacy@toptutoring.com">privacy@toptutoring.com</a>.</p><p><br></p>
      <p><b>HOW TO CONTACT US REGARDING YOUR PERSONAL INFORMATION</b></p><p>If you
      wish to discuss what personal information we may have pertaining to
      you, or the handling or potential disclosure of the same, you may
      contact us at <a href="mailto:privacy@toptutoring.com">privacy@toptutoring.com</a>,
      and we will promptly address your inquiry.</p>
      </p>
  </div>
</section>
