<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-5">
        <h4 class="uppercase">Sign Up</h4>
        <p> Already have an account?
          <%= link_to "Sign in", sign_in_path %>
        </p>
        <%= image_tag("yellownotebook.jpg", class: "contact-us-image") %>
        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br><br></p>
      </div>
      <div class="col-sm-6 col-md-6 col-md-offset-1">
        <%= render "form" %>
        <div class="col-md-12">
          <p class="note text-center">
            By signing up, you agree to our
              <a href="https://toptutoring.com/terms_of_service/">terms of service</a>
            and
              <a href="https://toptutoring.com/privacy_policy/">privacy policy</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
