<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-heading clearfix">
        <h3 class="widget-title pull-left"><%= type %> Invoices</h3>
          <%= pay_all_link(invoices, 'invoices') if type == 'Pending' %>
      </div>
      <div class="widget-body">
        <%= render "invoice_table", invoices: invoices %>
      </div>
    </div>
  </div>
</div>
