<div class="widget-heading">
  <h3 class="widget-title text-center">Top Tutoring Review</h3>
</div>

<div class="widget-body pt-0">
  <p><%= review_stars(@review.stars) %></p>

  <% if @review.stars == 5 %>
    <p><%= t("app.clients.reviews.request_external_review_html", href: review_external_link(@user)) %></p>
  <% else %>
    <p><%= t("app.clients.reviews.request_internal_review") %></p>
    <%= render "update_form" %>
  <% end %>
</div>
