<div class="widget-heading">
  <h3 class="widget-title text-center">Top Tutoring Review</h3>
</div>

<div class="widget-body pt-0">
  <p><%= t("app.clients.reviews.thank_you") %></p>
  <p><%= review_stars(@review.stars) %></p>
  <p><%= @review.review %></p>
</div>
