<%= form_for(@student, url: students_path) do |f| %>
  <div class="form-group">
    <%= f.text_field :name, class:"form-control", required: true, placeholder: "Full Name" %>
  </div>

  <div class="form-group">
    <%= f.email_field :email, class:"form-control", placeholder: "Email" %>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="info[subject]" placeholder="Subject" title="Subject your student is signing up for." required />
  </div>

  <div class="form-group">
    <select name="info[academic_type]" required>
      <option value="Academic">Academic</option>
      <option value="Test_Prep">Test Preparation</option>
    </select>
  </div>

  <div class="text-center">
    <%= f.submit "Submit", class: "btn btn-outline btn-blue" %>
  </div>
<% end %>
