<h1>Blog Posts</h1>
<div class="row mt-30 mb-30">
  <div class="col-md-12">
    <div class="widget p-20">
      <div class="widget-body">
        <%= link_to "New Post", new_blog_post_path, class: "btn btn-primary" %>
        <div class="table-responsive">
          <table class="table mb-0 table-striped table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>Publish Date</th>
                <th>Draft?</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <%= render @posts %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
