<section class="image-square right">
  <div class="col-md-6 image">
    <div class="background-image-holder">
        <img alt="image" class="background-image" src="/img/students.jpg">
    </div>
  </div>
  <div class="col-md-6 content">
    <h3>About us</h3>
    <p class="mb0">Top Tutoring was created in 2009 by UC Berkeley graduates who saw a lack of quality, ethical tutoring on the market. Since then, we have helped a countless number of students like you reach their academic and test prep goals. Our services currently include: academic subject tutoring, test preparation tutoring, and essay editing. By providing all of our services online, we are able to bring our top quality tutoring from UC Berkeley graduates, to the world.<br><br></p>
  </div>
</section>
