<% page_title("Top Tutoring | Contact") %>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-5 col-md-offset-1">
        <h4 class="uppercase">contact us</h4>
        <p>
        We’d love to hear from you. Please fill out the following form to inquire about tutoring, rates or other questions and we'll get back to you shortly.
        </p>
        <hr>
        <p>E: tutor@toptutoring.com
        <br />P: <%= phone_number_display("15108425221") %>
        </p>
        <hr>
        <%= image_tag "www/mailbox.jpg", class: "not-visible-xs" %>

        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br><br>
        </p>
      </div>
      <div class="col-sm-6 col-md-5">
        <%= render "www/pages/contact_form" %>
      </div>
    </div>
  </div>
</section>
