<section class="image-slider slider-all-controls parallax controls-inside pt0 pb0">
  <ul class="slides">
    <li class="overlay image-bg pt240 pb240 pt-xs-120 pb-xs-120">
      <div class="background-image-holder">
        <img alt="image" class="background-image" src="/img/readingbook.jpg">
      </div>
      <div class="container">
        <div class="row text-center">
          <div class="col-md-12">
            <h2 class="mb40 uppercase">Alameda In-Person Tutoring&nbsp;<br>with Online Tutoring Options&nbsp;<br>by TOP UC Berkeley Tutors&nbsp;<br></h2><h2 class="mb40">Access to the best, wherever you are</h2>
            <%= link_to "Sign Up", client_sign_up_url(subdomain: "app"), class: "btn btn-lg" %>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>

<section>
  <div class="container">
    <h2 class="mb64 mb-xs-32 text-center">Tutors: 100% UC Berkeley</h2>
    <div class="row v-align-children">
      <div class="col-sm-5 col-md-offset-1 mb-xs-24">
        <div class="mb40 mb-xs-24">
          <h5 class="uppercase bold mb16">Top Quality</h5>
          <p class="fade-1-4">We are proud to say that all our tutors are either UC Berkeley graduates or current students. Additionally, they all undergo a rigorous screening process to ensure the best tutoring experience and results for you.&nbsp;</p>
        </div>
        <div class="mb40 mb-xs-24">
          <h5 class="uppercase bold mb16">Look no further</h5>
          <p class="fade-1-4">
          We understand that it's difficult to find a quality tutor, and want to take the guesswork out for you. Unlike other companies where tutors have questionable academic credentials and skills, all our tutors have been preselected to only have graduated from UC Berkeley in addition to our stringent screening process.</p>
        </div>
      </div>
      <div class="col-sm-5 col-sm-6 col-sm-offset-1 text-center img-on-right">
        <img alt="Screenshot" src="/img/campanile.jpg">
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
</section>

<section class="image-bg parallax overlay">
  <div class="background-image-holder">
    <img alt="Background Image" class="background-image" src="/img/writing.jpg">
  </div>
  <div class="container">
    <div class="row mb64 mb-xs-24">
      <div class="col-sm-6 col-md-5 text-right text-center-xs">
        <h1 class="large mb8">Online&nbsp;</h1>
        <h6 class="uppercase">convenience at your fingertips</h6><h6 class="uppercase">personalized tutoring via videochat</h6>
      </div>
      <div class="col-md-2 text-center hidden-sm hidden-xs">
        <i class="icon mt8 mt-xs-0 ti ti-desktop icon-lg"></i>
      </div>
      <div class="col-sm-6 col-md-5 text-center-xs">
        <h1 class="large mb8">Tutoring</h1>
        <h6 class="uppercase">access to top tutors anywhere</h6><h6 class="uppercase">all ages</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="mb40 mb-xs-24">Find a Tutor&nbsp;</h3>
        <%= link_to "Sign Up", client_sign_up_url(subdomain: "app"), class: "btn btn-lg" %>
      </div>
    </div>
  </div>
</section>

<section class="page-title page-title-3 bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="uppercase mb0">Subjects we offer</h3>
      </div>
      <ol class="breadcrumb breadcrumb-2">
        <li>
          Here's a sampling of some of the subjects we currently offer<br>don't see your subject? contact us and we will try our best to find a tutor for you!<br>
        </li>
      </ol>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
        <div class="feature">
          <i class="ti-package icon fade-3-4 inline-block mb16"></i>
          <h4>Math</h4>
          <p>
          Calculus, Precalculus, Statistics, Algebra I, Algebra II, Trigonometry, Geometry, Arithmetic</p>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="feature">
          <i class="ti-light-bulb icon fade-3-4 inline-block mb16"></i>
          <h4>Science</h4>
          <p>
          Chemistry, Biology, Physics, Anatomy</p>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="feature">
          <i class="ti-bookmark-alt icon fade-3-4 inline-block mb16"></i>
          <h4>English</h4>
          <p>English Literature, Writing&nbsp;</p>
        </div>
      </div>
    </div>
    <div class="row subjects-offered">
      <div class="col-sm-4 text-center">
        <div class="feature">
          <i class="ti-text icon fade-3-4 inline-block mb16"></i>
          <h4>Language</h4>
          <p>Spanish, German, Chinese</p>
        </div>
      </div><div class="col-sm-4 text-center">
        <div class="feature">
          <i class="ti-bookmark-alt icon fade-3-4 inline-block mb16"></i>
          <h4>History</h4>
          <p>World History, US History</p>
        </div>
      </div><div class="col-sm-4 text-center">
        <div class="feature">
          <i class="ti-layers icon fade-3-4 inline-block mb16"></i>
          <h4>Test Prep</h4>
          <p>SAT, PSAT, ACT, AP Tests</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="image-bg overlay parallax">
  <div class="background-image-holder">
    <img alt="Background" class="background-image" src="/img/books.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="mb16">How Does It Work?</h2>
        <p class="lead mb64"> </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="feature feature-1 boxed">
          <div class="text-center">
            <i class="icon ti ti-pencil-alt"></i>
            <h5 class="uppercase">Sign up</h5>
          </div>
          <p>Provide us some basic information and tell us what subject you need help in.&nbsp;</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature feature-3 boxed">
          <div class="text-center">
            <i class="icon ti ti-check-box"></i>
            <h5 class="uppercase">Get Matched</h5>
          </div>
          <p>Once we have your information, we match you up with a top tutor according to your availability and needs.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature feature-3 boxed">
          <div class="text-center">
            <i class="ti-stats-up icon"></i>
            <h5 class="uppercase">See Results</h5>
          </div>
          <p>
          Under the guidance of our skilled tutors through our online video platform, prepare to become a subject master!</p>
        </div>
      </div>
    </div>
  </div>
</section>
