<% page_title("Top Tutoring | SAT & ACT") %>
<section class="page-title page-title-3 image-bg overlay parallax">
  <div class="background-image-holder">
    <%= image_tag "www/laptop-pen.jpg", class: "background-image" %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="uppercase mb0">SAT &amp; ACT PREP</h3>
      </div>
    </div>
  </div>

  <ol class="breadcrumb breadcrumb-2">
    <li>
      <a href="#">Our approach</a>
    </li>
    <li>
      <a href="#">tutoring &amp; Classes&nbsp;</a>
    </li>
    <li class="active">Q &amp; A&nbsp;</li>
  </ol>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h3 class="uppercase color-primary mb40 mb-xs-24">Our approach</h3>
        <p class="lead">
        At Top Tutoring, our tutors have complete mastery over the SAT and ACT and are committed to help you do your best. The majority of our tutors have scored in the 99th percentile and above on the SAT and ACT, and are intimately acquainted with the strategies and knowledge necessary to obtain a top score. Our tutors are enthusiastic and committed to&nbsp; your success, and have all passed our meticulous selection process. <br><br>Top Tutoring uses problems and practice tests from the real makers of the SAT and ACT to best help you prepare for the actual exam.&nbsp; You will receive realistic assessments on real practice exams, and be able to learn effective strategies and what to expect on the actual test. With our unique approach, you can be assured that you will drastically improve your scores and do your best come test day!&nbsp;</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
        <div class="feature">
          <i class="icon fade-half inline-block mb16 ti ti-medall" style="color:gold"></i>
          <h4>Top Tutors</h4>
          <p>Get taught by one of our expert tutors. The majority of our UC Berkeley tutors have scored in the 99th percentile and above on the test and have complete mastery over SAT and ACT.&nbsp;</p>
        </div>
      </div><div class="col-sm-4 text-center">
        <div class="feature">
          <i class="icon fade-half inline-block mb16 ti ti-pencil-alt" style="color:dodgerblue"></i>
          <h4>Real Practice Problems &amp; Tests</h4>
          <p>By focusing on real practice problems and tests, you will be more than prepared come test day to do your best.</p>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="feature">
          <i class="icon fade-half inline-block mb16 ti ti-upload" style="color:forestgreen"></i>
          <h4>Guaranteed Improvement</h4>
          <p>Score improvement guaranteed, period.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h3 class="uppercase color-primary mb40 mb-xs-24">private sat &amp; ACT tutoring</h3>
        <p class="lead">We offer affordable private in-person and online SAT and ACT tutoring to fit your various needs. With one-on-one tutoring, you will be able to receive individualized attention that caters to your particular weaknesses for the most effective results. This is also a good option for those who do not have much time left to prepare for an upcoming exam, or who prefer learning at a faster or slower pace than at what a class would offer.&nbsp;&nbsp;</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h3 class="uppercase color-primary mb40 mb-xs-24">SAT CLasses</h3>
        <p class="lead">Top Tutoring also offers in-person and online SAT classes for those who prefer learning in a group environment or have a limited budget. We offer both in-person and online classes, all taught by our highly qualified tutors. For class schedules and availabilities, please contact our office for more details.&nbsp;</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="mb0 inline-block p32 p0-xs">Improve Your Test Score Now</h3>
        <a class="btn btn-lg btn-white mb8 mt-xs-24" href="/contact">Contact us</a>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4 class="mb16">Q &amp; A</h4>
        <p class="lead mb64"> </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <ul class="accordion accordion-2 one-open">
          <li>
            <div class="title">
              <h4 class="inline-block mb0">Should I get private SAT tutoring or enroll in a class instead?&nbsp;</h4>
            </div>
            <div class="content">
              <p>For those who enjoy learning in group settings and on a structured schedule, our classes are the most cost effective option. If your schedule tends to fluctuate from week to week however, it may be best to schedule with a private tutor for optimal flexibility to avoid missing out on learning valuable test taking tips and material. If you tend to work at a much faster or slower pace than most, you may also benefit from a private tutor to get the most out of your sessions.&nbsp;</p>
            </div>
          </li>
          <li>
            <div class="title">
              <h4 class="inline-block mb0">How soon should I start preparing for the SAT/ACT?&nbsp;</h4>
            </div>
            <div class="content">
              <p>While how soon you should start preparing depends highly on your score goals and the colleges you want to gain admission to (along with other factors), we usually recommend preparing for the SAT around freshman or sophomore year of high school. This gives you plenty of time to familiarize yourself with the test and test taking strategies, as well as leaves you time to take the test multiple times if needed.</p>
            </div>
          </li>
          <li>
            <div class="title">
              <h4 class="inline-block mb0">What about online vs. in-person tutoring?&nbsp;</h4>
            </div>
            <div class="content">
              <p>It's really up to your personal preference. Some people prefer having someone at their side teaching them, while others like the flexibility and privacy of being able to learn from the convenience of home at the computer.</p>
            </div>
          </li><li>
            <div class="title">
              <h4 class="inline-block mb0">Do you also offer ACT classes?</h4>
            </div>
            <div class="content">
              <p>
              Currently we only offer SAT classes, although we do provide private ACT tutoring. We hope to offer ACT classes in the near future so stay tuned!</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark pt64 pb64">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="mb8">Want to drastically improve your SAT or ACT score?</h2>
        <p class="lead mb40 mb-xs-24">Call for a free consultation and more information about our classes and one-on-one tutoring</p>
        <a class="btn btn-filled btn-lg mb0" href="/contact">Contact us</a>
      </div>
    </div>
  </div>
</section>
