---
http_interactions:
- request:
    method: post
    uri: https://uat.dwolla.com/oauth/v2/token
    body:
      encoding: UTF-8
      string: grant_type=refresh_token&refresh_token=WO2cAmeEuHY2mDqxYZPrGIAyepGKVgoIVw8oRBX7YKYuExJEoA
    headers:
      Authorization:
      - Basic dzREdkNHckFLYWFsMEM2Qk50cHRtbmpiSFBJUU1ZT2VnMldib3dkWU9GY1I3T0hqVk46TmhsQ3JzSGl0MlZZaHF3Q2dmR09nWWRnd2ZhUVh2NHV4TkhxdHBvNW5pYU5oOVpFUHU=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"account":{"href":"https://api-sandbox.dwolla.com/accounts/1ba9585f-6468-4d1e-844a-4a13fea0d605"}},"access_token":"ms4eiDBWnqeB98NBjl0PdoGKCF83M7G1QBsupZhEcCEWpX3EYa","expires_in":3615,"refresh_token":"nJSWYZTpsqmBkf9u8bMO1vw7QkHWM3aVjUJxxMqhAGYJw1Y4oa","refresh_expires_in":5184015,"token_type":"bearer","scope":"accountinfofull|email|transactions|send|funding","account_id":"1ba9585f-6468-4d1e-844a-4a13fea0d605"}'
  recorded_at: Tue, 12 Sep 2017 03:42:52 GMT
- request:
    method: get
    uri: https://api-uat.dwolla.com/accounts/1ba9585f-6468-4d1e-844a-4a13fea0d605/funding-sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ms4eiDBWnqeB98NBjl0PdoGKCF83M7G1QBsupZhEcCEWpX3EYa
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.dwolla.v1.hal+json
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://api-uat.dwolla.com/accounts/1ba9585f-6468-4d1e-844a-4a13fea0d605/funding-sources","type":"application/vnd.dwolla.v1.hal+json","resource-type":"funding-source"}},"_embedded":{"funding-sources":[{"_links":{"self":{"href":"https://api-uat.dwolla.com/funding-sources/02177710-5cb0-4d15-a81f-c0356d2e0acb","type":"application/vnd.dwolla.v1.hal+json","resource-type":"funding-source"},"account":{"href":"https://api-uat.dwolla.com/accounts/1ba9585f-6468-4d1e-844a-4a13fea0d605","type":"application/vnd.dwolla.v1.hal+json","resource-type":"account"}},"id":"02177710-5cb0-4d15-a81f-c0356d2e0acb","status":"verified","type":"bank","name":"Superhero
        Savings Bank","created":"2017-07-30T22:34:56.000Z","removed":false,"channels":["ach"],"bankName":"SANDBOX
        TEST BANK"},{"_links":{"self":{"href":"https://api-uat.dwolla.com/funding-sources/0b6f1c75-dd43-4495-b9bb-17387dafb553","type":"application/vnd.dwolla.v1.hal+json","resource-type":"funding-source"},"account":{"href":"https://api-uat.dwolla.com/accounts/1ba9585f-6468-4d1e-844a-4a13fea0d605","type":"application/vnd.dwolla.v1.hal+json","resource-type":"account"},"with-available-balance":{"href":"https://api-uat.dwolla.com/funding-sources/0b6f1c75-dd43-4495-b9bb-17387dafb553","type":"application/vnd.dwolla.v1.hal+json","resource-type":"funding-source"},"balance":{"href":"https://api-uat.dwolla.com/funding-sources/0b6f1c75-dd43-4495-b9bb-17387dafb553/balance","type":"application/vnd.dwolla.v1.hal+json","resource-type":"balance"}},"id":"0b6f1c75-dd43-4495-b9bb-17387dafb553","status":"verified","type":"balance","name":"Balance","created":"2017-07-30T22:34:55.000Z","removed":false,"channels":[]}]}}'
  recorded_at: Tue, 12 Sep 2017 03:42:52 GMT
[...]
