---
http_interactions:
- request:
    method: post
    uri: https://uat.dwolla.com/oauth/v2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic dzREdkNHckFLYWFsMEM2Qk50cHRtbmpiSFBJUU1ZT2VnMldib3dkWU9GY1I3T0hqVk46TmhsQ3JzSGl0MlZZaHF3Q2dmR09nWWRnd2ZhUVh2NHV4TkhxdHBvNW5pYU5oOVpFUHU=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"Hez86Io8AuvbsmWSavTQj3bW04EVFzXIMjryYusRdj9osdw38f","token_type":"bearer","expires_in":3621}'
  recorded_at: Sat, 19 Aug 2017 03:06:31 GMT
- request:
    method: post
    uri: https://api-uat.dwolla.com/mass-payments
    body:
      encoding: UTF-8
      string: '{"_links":{"source":{"href":"https://api-uat.dwolla.com/funding-sources/02177710-5cb0-4d15-a81f-c0356d2e0acb"}},"items":[{"_links":{"destination":{"href":"https://api-uat.dwolla.com/accounts/xxx-xxx"}},"amount":{"currency":"USD","value":45.0},"metadata":{"payment1":"Payment
        for invoices: 39, 40"}}]}'
    headers:
      Authorization:
      - Bearer Hez86Io8AuvbsmWSavTQj3bW04EVFzXIMjryYusRdj9osdw38f
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.dwolla.v1.hal+json
      Location:
      - https://api-uat.dwolla.com/mass-payments/8ee7ef77-2a8d-49f1-a58a-a7d400333a40
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 19 Aug 2017 03:06:31 GMT
recorded_with: VCR 3.0.3
