---
http_interactions:
- request:
    method: get
    uri: https://api-uat.dwolla.com/accounts/8fb759cf-b90d-4ac8-b00e-9760bbfa1a7f/funding-sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer QDNYpjlWQJyvtgxqj2LYcCNlJUVdISlcdUPwsW83ueXEIuuu7v
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.dwolla.v1.hal+json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://api-uat.dwolla.com/accounts/8fb759cf-b90d-4ac8-b00e-9760bbfa1a7f/funding-sources","type":"application/vnd.dwolla.v1.hal+json","resource-type":"funding-source"}},"_embedded":{"funding-sources":[{"_links":{"self":{"href":"https://api-uat.dwolla.com/funding-sources/58be4af4-adbc-4683-aa10-e50059cdf294","type":"application/vnd.dwolla.v1.hal+json","resource-type":"funding-source"},"account":{"href":"https://api-uat.dwolla.com/accounts/8fb759cf-b90d-4ac8-b00e-9760bbfa1a7f","type":"application/vnd.dwolla.v1.hal+json","resource-type":"account"}},"id":"58be4af4-adbc-4683-aa10-e50059cdf294","status":"verified","type":"bank","name":"Superhero
        Savings Bank","created":"2016-12-28T12:47:08.000Z","removed":false,"channels":["ach"],"bankName":"SANDBOX
        TEST BANK"},{"_links":{"self":{"href":"https://api-uat.dwolla.com/funding-sources/c9b5fe28-2bd5-4cf7-9e83-b71316020430","type":"application/vnd.dwolla.v1.hal+json","resource-type":"funding-source"},"account":{"href":"https://api-uat.dwolla.com/accounts/8fb759cf-b90d-4ac8-b00e-9760bbfa1a7f","type":"application/vnd.dwolla.v1.hal+json","resource-type":"account"},"with-available-balance":{"href":"https://api-uat.dwolla.com/funding-sources/c9b5fe28-2bd5-4cf7-9e83-b71316020430","type":"application/vnd.dwolla.v1.hal+json","resource-type":"funding-source"},"balance":{"href":"https://api-uat.dwolla.com/funding-sources/c9b5fe28-2bd5-4cf7-9e83-b71316020430/balance","type":"application/vnd.dwolla.v1.hal+json","resource-type":"balance"}},"id":"c9b5fe28-2bd5-4cf7-9e83-b71316020430","status":"verified","type":"balance","name":"Balance","created":"2016-12-28T12:47:06.000Z","removed":false,"channels":[]}]}}'
  recorded_at: Sun, 05 Mar 2017 08:12:37 GMT
- request:
    method: post
    uri: https://uat.dwolla.com/oauth/v2/token
    body:
      encoding: UTF-8
      string: grant_type=refresh_token&refresh_token=TQ9z9qBMBMEhSPx4PE3shQ1v5uDN0jxO1zHqn7EtrXRb8bjCr5
    headers:
      Authorization:
      - Basic NkxjT2U0a2puc2xCcVZEb0pzQk00WWppcVc0UFhyeVhrMWRISDZSemlzWFp3OTUzZHA6MDJ1ejY5RlV4RUoySHh1cDlWMnVXdnFZUVlIWERyekRLY3QycFdwb2N1Q2lrVlc1NjI=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"account":{"href":"https://api-uat.dwolla.com/accounts/8fb759cf-b90d-4ac8-b00e-9760bbfa1a7f"}},"access_token":"xoczZ19b75qf9iwdmYJ0NwXf7vDbNS36ZiZqGYqCu2CdN27Dhc","expires_in":3638,"refresh_token":"zr5yPJ2UtLe7oB3UhKxQ5RCfBdiAoulI7uyimehoeM5W1bmpR6","refresh_expires_in":5184038,"token_type":"bearer","scope":"accountinfofull|email|transactions|send|funding","account_id":"8fb759cf-b90d-4ac8-b00e-9760bbfa1a7f"}'
  recorded_at: Sun, 05 Mar 2017 08:12:42 GMT
[...]
