---
http_interactions:
- request:
    method: post
    uri: https://api-uat.dwolla.com/transfers
    body:
      encoding: UTF-8
      string: '{"_links":{"destination":{"href":"https://api-uat.dwolla.com/accounts/092499dc-d0f0-45c9-b89e-c42d050cbb21"},"source":{"href":"https://api-uat.dwolla.com/funding-sources/0b6f1c75-dd43-4495-b9bb-17387dafb553"}},"amount":{"currency":"USD","value":10.0},"metadata":{"concept":"Director
        Payment description"}}'
    headers:
      Authorization:
      - Bearer 8IXjPLHVmLr1OK3ERRIsG28igOVFHQY4WlhKicq6Q2ee0F3BMq
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.dwolla.v1.hal+json
      Location:
      - https://api-uat.dwolla.com/transfers/805a794f-2990-e711-80f5-0aa34a9b2388
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 02 Sep 2017 21:54:40 GMT
- request:
    method: post
    uri: https://uat.dwolla.com/oauth/v2/token
    body:
      encoding: UTF-8
      string: grant_type=refresh_token&refresh_token=96viUXQ6mVLJcI8FGpoeFc6NPQzFNwMtb3q7ESpBeTzpXpewqU
    headers:
      Authorization:
      - Basic dzREdkNHckFLYWFsMEM2Qk50cHRtbmpiSFBJUU1ZT2VnMldib3dkWU9GY1I3T0hqVk46TmhsQ3JzSGl0MlZZaHF3Q2dmR09nWWRnd2ZhUVh2NHV4TkhxdHBvNW5pYU5oOVpFUHU=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"account":{"href":"https://api-sandbox.dwolla.com/accounts/1ba9585f-6468-4d1e-844a-4a13fea0d605"}},"access_token":"nqFZvBHe5f5IJWjnjJve9zpc8zOCMuA3mLuNYQI78rtcX0vour","expires_in":3600,"refresh_token":"K7CNuOx5ytgcbsgZiE7mjNrQTWym9rQDsKrxV4cwFcymRUyvtd","refresh_expires_in":5184000,"token_type":"bearer","scope":"accountinfofull|email|transactions|send|funding","account_id":"1ba9585f-6468-4d1e-844a-4a13fea0d605"}'
  recorded_at: Sat, 02 Sep 2017 21:58:35 GMT
recorded_with: VCR 3.0.3
