---
http_interactions:
- request:
    method: post
    uri: https://uat.dwolla.com/oauth/v2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic dzREdkNHckFLYWFsMEM2Qk50cHRtbmpiSFBJUU1ZT2VnMldib3dkWU9GY1I3T0hqVk46TmhsQ3JzSGl0MlZZaHF3Q2dmR09nWWRnd2ZhUVh2NHV4TkhxdHBvNW5pYU5oOVpFUHU=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"ZOhihPYtYpiS5YIKKcmVxLOMVwgTGhLalyXCWh2Yc9Ljd2BYvQ","token_type":"bearer","expires_in":3602}'
  recorded_at: Thu, 31 Aug 2017 00:33:04 GMT
- request:
    method: post
    uri: https://api-uat.dwolla.com/mass-payments
    body:
      encoding: UTF-8
      string: '{"_links":{"source":{"href":"https://api-uat.dwolla.com/funding-sources/0b6f1c75-dd43-4495-b9bb-17387dafb553"}},"items":[{"_links":{"destination":{"href":"https://api-uat.dwolla.com/accounts/092499dc-d0f0-45c9-b89e-c42d050cbb21"}},"amount":{"currency":"USD","value":45.0},"metadata":{"payment1":"Payment
        for invoices: 61, 62"}}]}'
    headers:
      Authorization:
      - Bearer ZOhihPYtYpiS5YIKKcmVxLOMVwgTGhLalyXCWh2Yc9Ljd2BYvQ
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.dwolla.v1.hal+json
      Location:
      - https://api-uat.dwolla.com/mass-payments/f500d669-7c41-4279-9dec-a7e000090d43
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 Aug 2017 00:33:05 GMT
recorded_with: VCR 3.0.3
