---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.dwolla.com/accounts/1ba9585f-6468-4d1e-844a-4a13fea0d605/funding-sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer pH8RoJ4Ctn51XGw3r8dugHkSkQBf9q9vqjHSOqZNDmP426LzD6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.dwolla.v1.hal+json
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://api-sandbox.dwolla.com/accounts/1ba9585f-6468-4d1e-844a-4a13fea0d605/funding-sources","type":"application/vnd.dwolla.v1.hal+json","resource-type":"funding-source"}},"_embedded":{"funding-sources":[{"_links":{"transfer-from-balance":{"href":"https://api-sandbox.dwolla.com/transfers","type":"application/vnd.dwolla.v1.hal+json","resource-type":"transfer"},"self":{"href":"https://api-sandbox.dwolla.com/funding-sources/02177710-5cb0-4d15-a81f-c0356d2e0acb","type":"application/vnd.dwolla.v1.hal+json","resource-type":"funding-source"},"transfer-to-balance":{"href":"https://api-sandbox.dwolla.com/transfers","type":"application/vnd.dwolla.v1.hal+json","resource-type":"transfer"},"transfer-send":{"href":"https://api-sandbox.dwolla.com/transfers","type":"application/vnd.dwolla.v1.hal+json","resource-type":"transfer"},"remove":{"href":"https://api-sandbox.dwolla.com/funding-sources/02177710-5cb0-4d15-a81f-c0356d2e0acb","type":"application/vnd.dwolla.v1.hal+json","resource-type":"funding-source"},"transfer-receive":{"href":"https://api-sandbox.dwolla.com/transfers","type":"application/vnd.dwolla.v1.hal+json","resource-type":"transfer"},"account":{"href":"https://api-sandbox.dwolla.com/accounts/1ba9585f-6468-4d1e-844a-4a13fea0d605","type":"application/vnd.dwolla.v1.hal+json","resource-type":"account"}},"id":"02177710-5cb0-4d15-a81f-c0356d2e0acb","status":"verified","type":"bank","bankAccountType":"checking","name":"Superhero
        Savings Bank","created":"2017-07-30T22:35:01.000Z","removed":false,"channels":["ach"],"bankName":"SANDBOX
        TEST BANK"},{"_links":{"self":{"href":"https://api-sandbox.dwolla.com/funding-sources/0b6f1c75-dd43-4495-b9bb-17387dafb553","type":"application/vnd.dwolla.v1.hal+json","resource-type":"funding-source"},"balance":{"href":"https://api-sandbox.dwolla.com/funding-sources/0b6f1c75-dd43-4495-b9bb-17387dafb553/balance","type":"application/vnd.dwolla.v1.hal+json","resource-type":"balance"},"transfer-send":{"href":"https://api-sandbox.dwolla.com/transfers","type":"application/vnd.dwolla.v1.hal+json","resource-type":"transfer"},"with-available-balance":{"href":"https://api-sandbox.dwolla.com/funding-sources/0b6f1c75-dd43-4495-b9bb-17387dafb553","type":"application/vnd.dwolla.v1.hal+json","resource-type":"funding-source"},"transfer-receive":{"href":"https://api-sandbox.dwolla.com/transfers","type":"application/vnd.dwolla.v1.hal+json","resource-type":"transfer"},"account":{"href":"https://api-sandbox.dwolla.com/accounts/1ba9585f-6468-4d1e-844a-4a13fea0d605","type":"application/vnd.dwolla.v1.hal+json","resource-type":"account"}},"id":"0b6f1c75-dd43-4495-b9bb-17387dafb553","status":"verified","type":"balance","name":"Balance","created":"2017-07-30T22:34:55.000Z","removed":false,"channels":[]}]}}'
  recorded_at: Thu, 18 Jan 2018 07:11:43 GMT
recorded_with: VCR 3.0.3
