---
http_interactions:
- request:
    method: post
    uri: https://uat.dwolla.com/oauth/v2/token
    body:
      encoding: UTF-8
      string: grant_type=refresh_token&refresh_token=ikyoqz7GYb0xaY9pQT8t550kSu4xmSrUil752xLiBLX6HAk0HA
    headers:
      Authorization:
      - Basic dzREdkNHckFLYWFsMEM2Qk50cHRtbmpiSFBJUU1ZT2VnMldib3dkWU9GY1I3T0hqVk46TmhsQ3JzSGl0MlZZaHF3Q2dmR09nWWRnd2ZhUVh2NHV4TkhxdHBvNW5pYU5oOVpFUHU=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"account":{"href":"https://api-sandbox.dwolla.com/accounts/1ba9585f-6468-4d1e-844a-4a13fea0d605"}},"access_token":"XYvz6hq18mLd8qaWUy621iViKYhepXKWgfvbdDsOJFKPMdOTtR","expires_in":3613,"refresh_token":"I3sYBplB2Z6r0E5s9XpsYMkbMMjixkskqSYgWnXLp15Z5zlNr1","refresh_expires_in":5184013,"token_type":"bearer","scope":"accountinfofull|email|transactions|send|funding","account_id":"1ba9585f-6468-4d1e-844a-4a13fea0d605"}'
  recorded_at: Tue, 26 Dec 2017 18:35:21 GMT
- request:
    method: post
    uri: https://api-uat.dwolla.com/mass-payments
    body:
      encoding: UTF-8
      string: '{"_links":{"source":{"href":"https://api-uat.dwolla.com/funding-sources/0b6f1c75-dd43-4495-b9bb-17387dafb553"}},"items":[{"_links":{"destination":{"href":"https://api-uat.dwolla.com/accounts/092499dc-d0f0-45c9-b89e-c42d050cbb21"}},"amount":{"currency":"USD","value":"45.00"},"metadata":{"auth_uid":"092499dc-d0f0-45c9-b89e-c42d050cbb21","payee_id":1,"approver_id":5,"description":"Payment
        for invoices: 1, 2."}}]}'
    headers:
      Authorization:
      - Bearer XYvz6hq18mLd8qaWUy621iViKYhepXKWgfvbdDsOJFKPMdOTtR
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.dwolla.v1.hal+json
      Location:
      - https://api-uat.dwolla.com/mass-payments/c5a85d6e-f315-4fd4-b5d5-a85501324943
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 26 Dec 2017 18:35:22 GMT
[...]
- request:
    method: get
    uri: https://api-uat.dwolla.com/mass-payments/c5a85d6e-f315-4fd4-b5d5-a85501324943/items
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer MB9jYBaPq0caAyc5hlk2OiuS3Ux4cjBhRsAlywt9tgV5Y9cHbz
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.dwolla.v1.hal+json
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://api-uat.dwolla.com/mass-payments/c5a85d6e-f315-4fd4-b5d5-a85501324943/items","type":"application/vnd.dwolla.v1.hal+json","resource-type":"mass-payment-item"},"first":{"href":"https://api-uat.dwolla.com/mass-payments/c5a85d6e-f315-4fd4-b5d5-a85501324943/items?&limit=25&offset=0","type":"application/vnd.dwolla.v1.hal+json","resource-type":"mass-payment-item"},"last":{"href":"https://api-uat.dwolla.com/mass-payments/c5a85d6e-f315-4fd4-b5d5-a85501324943/items?&limit=25&offset=0","type":"application/vnd.dwolla.v1.hal+json","resource-type":"mass-payment-item"}},"_embedded":{"items":[{"_links":{"self":{"href":"https://api-uat.dwolla.com/mass-payment-items/48b81223-9a84-4d66-adae-c8e0a9ee79b4","type":"application/vnd.dwolla.v1.hal+json","resource-type":"mass-payment-item"},"mass-payment":{"href":"https://api-uat.dwolla.com/mass-payments/c5a85d6e-f315-4fd4-b5d5-a85501324943","type":"application/vnd.dwolla.v1.hal+json","resource-type":"mass-payment"},"destination":{"href":"https://api-uat.dwolla.com/accounts/092499dc-d0f0-45c9-b89e-c42d050cbb21","type":"application/vnd.dwolla.v1.hal+json","resource-type":"account"},"transfer":{"href":"https://api-uat.dwolla.com/transfers/f81e6f8a-6bea-e711-8103-0a595ef38714","type":"application/vnd.dwolla.v1.hal+json","resource-type":"transfer"}},"id":"48b81223-9a84-4d66-adae-c8e0a9ee79b4","status":"success","amount":{"value":"45.00","currency":"USD"},"metadata":{"auth_uid":"092499dc-d0f0-45c9-b89e-c42d050cbb21","approver_id":"5","description":"Payment
        for invoices: 1, 2.","payee_id":"1"}}]},"total":1}'
  recorded_at: Tue, 26 Dec 2017 18:35:23 GMT
recorded_with: VCR 3.0.3
