---
http_interactions:
- request:
    method: post
    uri: https://sandbox.dwolla.com/oauth/v2/token
    body:
      encoding: UTF-8
      string: grant_type=refresh_token&refresh_token=ab4hKYykPUo0AqElsvCrBJSQn6yh7tPQTsqq1ibCGSC2Uf1DW1
    headers:
      Authorization:
      - Basic dzREdkNHckFLYWFsMEM2Qk50cHRtbmpiSFBJUU1ZT2VnMldib3dkWU9GY1I3T0hqVk46TmhsQ3JzSGl0MlZZaHF3Q2dmR09nWWRnd2ZhUVh2NHV4TkhxdHBvNW5pYU5oOVpFUHU=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"account":{"href":"https://api-sandbox.dwolla.com/accounts/1ba9585f-6468-4d1e-844a-4a13fea0d605"}},"access_token":"dTsd6O5v9ZowPpCiXFWXO21PZ3KR1Em8alkRTK9EpYWVPvMzDZ","expires_in":3601,"refresh_token":"hrJywggNipumNq3TuW8fHJ5wOgypXsctUR1ZfLKakX3C4FA8Ul","refresh_expires_in":5184001,"token_type":"bearer","scope":"accountinfofull|email|transactions|send|funding","account_id":"1ba9585f-6468-4d1e-844a-4a13fea0d605"}'
  recorded_at: Thu, 18 Jan 2018 06:37:45 GMT
recorded_with: VCR 3.0.3
