---
http_interactions:
- request:
    method: post
    uri: https://sandbox.dwolla.com/oauth/v2/token
    body:
      encoding: UTF-8
      string: grant_type=refresh_token&refresh_token=IXM5GiIbfExW91YcQFKjaPUpQ2upEPjlXqMakBFEgOVpXA69R4
    headers:
      Authorization:
      - Basic dzREdkNHckFLYWFsMEM2Qk50cHRtbmpiSFBJUU1ZT2VnMldib3dkWU9GY1I3T0hqVk46TmhsQ3JzSGl0MlZZaHF3Q2dmR09nWWRnd2ZhUVh2NHV4TkhxdHBvNW5pYU5oOVpFUHU=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"account":{"href":"https://api-sandbox.dwolla.com/accounts/1ba9585f-6468-4d1e-844a-4a13fea0d605"}},"access_token":"pH8RoJ4Ctn51XGw3r8dugHkSkQBf9q9vqjHSOqZNDmP426LzD6","expires_in":3608,"refresh_token":"Gvwsvj2fT6ZDNowetYylylkLSNMK84RjEVkrLxVNbkjyjRkVUD","refresh_expires_in":5184008,"token_type":"bearer","scope":"accountinfofull|email|transactions|send|funding","account_id":"1ba9585f-6468-4d1e-844a-4a13fea0d605"}'
  recorded_at: Thu, 18 Jan 2018 07:07:51 GMT
- request:
    method: post
    uri: https://api-sandbox.dwolla.com/transfers
    body:
      encoding: UTF-8
      string: '{"_links":{"destination":{"href":"https://api-uat.dwolla.com/accounts/092499dc-d0f0-45c9-b89e-c42d050cbb21"},"source":{"href":"https://api-uat.dwolla.com/funding-sources/0b6f1c75-dd43-4495-b9bb-17387dafb553"}},"amount":{"currency":"USD","value":"10.00"},"metadata":{"concept":"Test"}}'
    headers:
      Authorization:
      - Bearer pH8RoJ4Ctn51XGw3r8dugHkSkQBf9q9vqjHSOqZNDmP426LzD6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.dwolla.v1.hal+json
      Location:
      - https://api-sandbox.dwolla.com/transfers/7c5a744b-1efc-e711-8104-0a595ef38714
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Jan 2018 07:07:52 GMT
recorded_with: VCR 3.0.3
