---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=6000&currency=usd&customer=cus_9xET9cNmAJjO8A&description=
    headers:
      Authorization:
      - Bearer sk_test_sh18MsBrCNXjfaeymmbRMVLH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card has expired.",
            "type": "card_error",
            "param": "exp_month",
            "code": "expired_card",
            "charge": "ch_19m2RzICcPwb8fjtZHdMXbLX"
          }
        }
  recorded_at: Sat, 11 Feb 2017 15:06:11 GMT
recorded_with: VCR 3.0.3
