---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=client%40example.com
    headers:
      Authorization:
      - Bearer sk_test_sh18MsBrCNXjfaeymmbRMVLH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_AMSvOunTmAHmkF",
          "object": "customer",
          "account_balance": 0,
          "created": 1490567889,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "client@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_AMSvOunTmAHmkF/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_AMSvOunTmAHmkF/subscriptions"
          }
        }
  recorded_at: Sun, 26 Mar 2017 22:38:09 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=6000&currency=usd&customer=cus_AMSvOunTmAHmkF&description=
    headers:
      Authorization:
      - Bearer sk_test_sh18MsBrCNXjfaeymmbRMVLH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Cannot charge a customer that has no active card",
            "type": "card_error",
            "param": "card",
            "code": "missing"
          }
        }
  recorded_at: Sun, 26 Mar 2017 22:38:10 GMT
recorded_with: VCR 3.0.3
