---
http_interactions:
- request:
    method: post
    uri: https://uat.dwolla.com/oauth/v2/token
    body:
      encoding: UTF-8
      string: grant_type=refresh_token&refresh_token=CYojEe4hMnVzLeXbWbPEPJy2WF7kNvuNvzN6EAdIY5zTXJsvYU
    headers:
      Authorization:
      - Basic ODU2aGhJcklDUUNSRms1eVM0U0JhdERtZmp2Znk5aTFNMWxDWGVBM1prN0dTM0MwTkw6bGxoWTNZc2JxRzR6aUFlaVdheDVtalMyQm9XZUYzejFEc2JLNEE5REp3NEZxeTd3S0g=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"account":{"href":"https://api-sandbox.dwolla.com/accounts/25565ecb-63d7-481d-89a9-9e169df22d8a"}},"access_token":"SPgfOVJVgARXDx8tLbzEOGiFJR82xhuTU6XsabNLFEEXcXxKvJ","expires_in":3604,"refresh_token":"PMmp9SF1kD0B2Sen2HU092LPFumw3Ro6JAkyIWSHvQTJbYAY8k","refresh_expires_in":5184004,"token_type":"bearer","scope":"accountinfofull|email|transactions|send|funding","account_id":"25565ecb-63d7-481d-89a9-9e169df22d8a"}'
  recorded_at: Mon, 31 Jul 2017 18:35:01 GMT
recorded_with: VCR 3.0.3
