---
http_interactions:
- request:
    method: post
    uri: https://uat.dwolla.com/oauth/v2/token
    body:
      encoding: UTF-8
      string: grant_type=refresh_token&refresh_token=ARQGbyVhwgJfWOyanvLclFQZcdKhjDvRDvJ6G41yraYvoWKDI8
    headers:
      Authorization:
      - Basic dzREdkNHckFLYWFsMEM2Qk50cHRtbmpiSFBJUU1ZT2VnMldib3dkWU9GY1I3T0hqVk46TmhsQ3JzSGl0MlZZaHF3Q2dmR09nWWRnd2ZhUVh2NHV4TkhxdHBvNW5pYU5oOVpFUHU=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"account":{"href":"https://api-sandbox.dwolla.com/accounts/092499dc-d0f0-45c9-b89e-c42d050cbb21"}},"access_token":"7TNx9RHIQs2EBbP47mKENaVRzBO7rke9DduE52FxP3zKPuuqzt","expires_in":3607,"refresh_token":"QgpHipjUMQDcn3xVKgn9vhRtWMoXQkfuamg4h699y5BpaAOB3S","refresh_expires_in":5184007,"token_type":"bearer","scope":"accountinfofull|email|transactions|send|funding","account_id":"092499dc-d0f0-45c9-b89e-c42d050cbb21"}'
  recorded_at: Thu, 31 Aug 2017 00:33:08 GMT
recorded_with: VCR 3.0.3
