---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=client%40example.com
    headers:
      Authorization:
      - Bearer sk_test_sh18MsBrCNXjfaeymmbRMVLH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_AIWG8L6oK7qzzs",
          "object": "customer",
          "account_balance": 0,
          "created": 1489657727,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "client@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_AIWG8L6oK7qzzs/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_AIWG8L6oK7qzzs/subscriptions"
          }
        }
  recorded_at: Thu, 16 Mar 2017 09:48:47 GMT
recorded_with: VCR 3.0.3
