---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=6000&currency=usd&customer=cus_A45BGhlr4VjDcJ&description=
    headers:
      Authorization:
      - Bearer sk_test_sh18MsBrCNXjfaeymmbRMVLH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_19m2RxICcPwb8fjtAQcevDj0",
          "object": "charge",
          "amount": 6000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_19m2RxICcPwb8fjtrkbR0vko",
          "captured": true,
          "created": 1486825569,
          "currency": "usd",
          "customer": "cus_A45BGhlr4VjDcJ",
          "description": "",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_19m2RxICcPwb8fjtAQcevDj0/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_19jx18ICcPwb8fjtq7zcVE7n",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_A45BGhlr4VjDcJ",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 2,
            "exp_year": 2020,
            "fingerprint": "jhKOe3753n7I2fTR",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": "test",
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Sat, 11 Feb 2017 15:06:10 GMT
recorded_with: VCR 3.0.3
