<% if current_user.enabled? %>
  <li class="panel"><a href="/dashboard"><i class="ion-ios-home-outline bg-purple"></i><span class="sidebar-title">Dashboard</span></a></li>
  <li class="panel"><a href="/payment/new"><i class="ion-card bg-success"></i><span class="sidebar-title">Make payment</span></a></li>
  <li class="panel"><a href="/payments"><i class="ion-clipboard bg-primary"></i><span class="sidebar-title">Past payments</span></a></li>
  <% if !current_user.is_student? %>
    <li class="panel"><a href="/students"><i class="icon ion-ios-contact bg-purple"></i><span class="sidebar-title">Tutoring Assignments</span></a></li>
  <% end %>
<% end %>
