<li class="panel">
  <%= link_to tutors_students_path do %>
    <i class="icon ion-ios-contact bg-success"></i>
    <span class="sidebar-title">Students</span>
  <% end %>
</li>

<li class="panel">
  <%= link_to tutors_invoices_path do %>
    <i class="icon ion-clipboard bg-primary"></i>
    <span class="sidebar-title">Invoices</span>
  <% end %>
</li>

<li class="panel">
  <%= link_to tutors_payouts_path do %>
    <i class="icon ion-ios-email-outline bg-danger"></i>
    <span class="sidebar-title">Payments</span>
  <% end %>
</li>
