<div class="row mt-30 mb-30">
  <div class="col-md-8 col-md-offset-2">
    <%= link_to "New Post", new_blog_post_path %>
    <% @posts.each do |post| %>
      <div>
        <h3><%= link_to post.title, blog_post_path(post) %></h3>
        <%= tag.span l(post.publish_date) %>
      </div>
    <% end %>
  </div>
</div>
