<section class="login-section auth-section">
  <div class="container">
    <div class="row">
      <div class="form-box col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 xs-offset-0">
        <div class="jumbotron text-center error-500">
          <h1>Oops</h1>
          <p>External Authentication Error!</p>
          <p>Sorry, something went wrong.</p>
          <div class="action">
            <%= link_to "Back to Home", root_path, class: "btn btn-primary btn-lg" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
