<% content_for(:title) { "Rate Top Tutoring" } %>

<%= render layout: "layouts/mailers/standard" do %>
  <p>Hello <%= @user.full_name %>,</p>
  <p>Thank you for using our services. We'd love to hear from you! Review our services <%= link_to "here", email_review_url(@user.unique_token) %>.</p>
  <p>Regards,</p>
  <p>Top Tutoring</p>
<% end %>
