<% content_for(:title) { "Welcome to Top Tutoring" } %>

<%= render layout: "layouts/mailers/standard" do %>
  <p>Hello <%= @user.full_name %>,</p>
  <p>Thank you for signing up for Top Tutoring! We offer premium tutoring from the best universities to anywhere in the world. Our tutor director has been notified of your sign up and will be in touch with you shortly. Feel free to give us a call at <%= phone_number_display("15108425221") %> if you have any questions.</p>
  <p>Regards,</p>
  <p>Top Tutoring</p>
<% end %>
