<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <h5>Are you interested in hiring a tutor for help in a general academic area or specifically for test preparation?</h5>
      <select required="required" name="info[academic_type]" id="info_academic_type">
        <option value="">Please select tutoring type here</option>
        <option value="Academic">Academic</option>
        <option value="Test_Prep">Test Preparation</option>
      </select>
    </div>
  </div>
</div>
