<div class="row">
  <div class="col-sm-12">
    <div class="widget">
      <div class="widget-heading clearfix">
        <h3 class="widget-title pull-left">Subjects</h3>
      </div>
      <div class="widget-body">
        <div class="table-responsive">
          <table class="table mb-0 table-striped table-hover">
            <thead>
              <tr>
                <th>Submitted By</th>
                <th>Submitted On</th>
                <th>Comment</th>
              </tr>
            </thead>
            <tbody>
              <%= render @feedbacks %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
