<%= render "layouts/page_widget", title: "User Comments" do %>
  <div class="table-responsive">
    <table class="table mb-0 table-striped">
      <thead>
        <tr>
          <th>Submitted By</th>
          <th>Submitted On</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <%= render @feedbacks %>
      </tbody>
    </table>
  </div>
<% end %>
