/****** PLACE YOUR CUSTOM STYLES HERE ******/
/* Please keep alphabetized */

.footer-2 .footer-left ul {
  min-width: 160px;
  width: 25%;
}

.footer-2 .footer-left ul li {
  display: inline-block;
  width: 100%;
}

@media (min-width: 700px) {
  .footer-2 .footer-left ul {
    width: 50%;
  }

  .footer-2 .footer-left ul li {
    width: 49%;
  }
}

@media (min-width: 1090px) {
  .footer-2 .footer-left ul {
    min-width: 700px;
  }

  .footer-2 .footer-left ul li {
    width: auto;
  }
}

@media (max-width: 920px) {
  .footer-2 .footer-left {
    display: block;
  }

  .footer-2 .rights {
    float: none;
    display: block;
  }

  .footer-2 ul {
    display: inline-block;
    float: none;
  }
}

@media (max-width: 990px) {
  .img-on-right {
    margin-top: 13%;
  }
}

@media (max-width: 990px) {
  nav.transparent .nav-open .menu > li > a {
    color: #fff;
  }
}

@media (max-width: 990px) {
  .image-square {
    height: auto;
    max-height: 100000px;
    padding-bottom: 48px;
  }
}

@media (max-width: 768px) {
  .fullscreen {
    height: auto;
  }
  .v-align-transform {
    position: static;
    transform: none;
  }
}

@media all and (max-height: 768px) {
  .fullscreen {
    height: auto;
  }
  .v-align-transform {
    transform: none;
    -webkit-transform: none;
  }
}

.about {
  padding-left: 13%;
}

.absolute {
  position: absolute;
}

.blog-font-size {
  font-size: 15px;
}

.bordered-block {
  border-top: 1px solid #d8dee2;
  border-radius: 5px;
  padding: 65px 20px 15px 20px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #d8dee2;
  padding-top: 65px;
  margin-top: 50px;
}

.bordered-block.no-padding {
  margin-top: 25px;
  padding: 0;
}

.button-padding-top {
  padding-top: 40px;
}

.btn.btn-blue {
  background: #fff;
  border: 2px solid #59a4f0;
  margin-right: 0;
  color: #59a4f0;
}

.btn-blue:hover {
  background: #59a4f0;
  color: #fff;
}

.btn-blue:visited {
  color: #59a4f0;
}

.btn-white:hover, .image-bg .btn:hover, .image-bg .btn:visited:hover {
  border-color: #fff;
}

.career-header {
  text-align: center;
  padding: 70px;
}

.contact {
  padding-bottom: 5%;
}

.contact-us-image {
    padding-top: 50px;
}

.container-white {
  background-color: white;
}

.date-label {
  background-color: #59a4f0;
  border-color: #59a4f0;
}

.fade-on-hover.footer-link {
  padding-left: 10px;
}

.feature.feature-1 {
  min-height: 265px;
}

.feature.feature-3 i {
  margin-bottom: 16px;
}
 .flex {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}

.footer_block_wrapper .clearfix {
  background-color: #ddd;
}

.footer-img {
  padding-left: 150px;
}

.footer-left ul {
  float: left;
  margin-bottom: 0px;
}

.footer-top-padding {
  padding-top: 30px;
}

.footer-2 {
  padding-bottom: 35px;
  padding-top: 35px;
}

.footer-2 .rights {
  padding-right: 20px;
  float: right
}

.footer-2 .row.fade-half {
  padding-left: 15px;
  padding-right: 15px;
}

.footer-2 ul li {
  display:table-cell;
  position: relative;
  padding: 0 10px;
}

.form-container {
  padding: 35px 20px 35px 20px;
}

.form-container #short-description {
  padding: 10px;
}

.form-container.btn-blue {
  min-width: 0;
}

.form-errors {
  position: relative;
  top: -10px;
  float: left;
  width: 100%;
}

.icon-tabs .active .tab-title i {
  color: #59a4f0;
}

.icon-tabs .active .tab-title {
  color: #59a4f0;
}
.image-bg .btn.btn-blue {
  border-color: #59a4f0;
}

.image-square {
  height: 100vh;
  max-height: 100%;
}

.img-icon {
  max-width: 55%;
}

.img-profile {
  max-width: 75%
}

.inline-icons {
  margin-right: 20px;
}

.input-opacity {
  opacity: 0.7;
}

.logo {
  max-height: 75%;
}

.map iframe {
  width: 100%;
}

.mb12 {
  margin-bottom: 12px !important;
}

.next-button {
  margin-left: 15px;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.overlay:before {
  opacity: 0.7;
}

.page-content {
  min-height: 45em;
}
.page-title .breadcrumb.breadcrumb-2 {
  margin-bottom: 0;
  margin-top: 25px;
  position: static;
}

.page-title .col-sm-12 {
  float: none;
}

.parallax > .background-image-holder, .parallax .slides li > .background-image-holder {
  height: calc(100% + 200px);
}

.phone-number {
  font-size: 80%;
  font-weight: 500;
  padding-left: 10px;
  letter-spacing: 1px;
}

.postcontainer {
  float: none;
  margin: auto;
}

.select-option i {
  right: 30px;
}

.sign-up-icon {
  font-size: 80px;
  display: inline-block;
  color: #666;
  padding-bottom: 10px;
}

.sign-up-text {
  margin-bottom: 0;
  padding-top: 27px;
  display: inline-block;
}

.square-div {
  padding-bottom: 100%;
  max-height: 1px;
}

.subjects-offered {
  padding-top: 20px;
}

.submit-form-message {
  text-align: center;
  vertical-align: middle;
}

.white-font {
  color: #fff;
}

a, a:hover, a:visited, a.focus {
  color: #59a4f0;
}

h1.large {
  font-size: 50px;
  font-weight: 300;
}

footer.bg-dark a {
  color: #fefefe;
  opacity: 1;
}

footer.footer-2 li:after {
  content: "|";
  position: absolute;
  left: calc(100% - 4px);
  top: 0;
  color: #fefefe;
  visibility: hidden;
}

footer.footer-2 li:last-child:after {
  display: none;
}

img {
  height: auto;
}

input.signup-input {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

nav.transparent {
  background: none;
}

nav.transparent .nav-bar {
  background: rgba(0, 0, 0, 0.9);
}

nav.transparent.fixed {
  background: none;
}

nav.transparent.fixed .menu > li > a {
  opacity: 1;
  color: #fff;
}

nav.transparent .logo-dark {
  display: inline;
}

section.map-section {
  padding: 58px 0;
}

section.white-cover {
  background: #f9f9f9;
}

span.subhead:before, span.subhead:after {
  content: "";
  width: 60px;
  height: 6px;
  border-top: 1px solid white;
  display: inline-block;
  margin: 0 10px;
}

textarea.signup-input {
  resize: none;
  padding: 16px 20px 9px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

textarea::-webkit-input-placeholder {
  color: #999;
}
