<% if masquerading? %>
  <div class="environment-banner <%= Rails.env %>">
    Environment: <%= Rails.env %> | Masquerading: <%= current_user.full_name %> (<%= current_user.email %>)
  </div>
<% end %>
