<%= render "user_header" %>
<div class="main-container">
  <%= render "menu" %>
  <div class="page-container">
    <div class="page-content container-fluid">
      <div id="top-tutoring-flashes">
        <%= render "flashes" %>
      </div>
      <%= yield %>
    </div>
  </div>
</div>
