<div class="table-responsive">
  <table class="table mb-0 table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render @leads %>
    </tbody>
  </table>
</div>
