confirmation = document.getElementById("confirmation-message");
confirmation.classList.remove("hidden");
<% if @lead.persisted? %>
    confirmation.classList.add("form-success");
    confirmation.innerHTML = "<p><%= t "www.contact.confirmation" %></p>"
<% else %>
    confirmation.classList.add("form-error");
    confirmation.innerHTML = "<p><%= t "www.contact.failure" %></p>"
<% end %>

