<%= render "layouts/page_widget", title: "Engagements", heading_html: link_to("Add a new engagement", new_engagement_path, class: "pull-right btn") do %>
    <table id="engagements_table" style="width: 100%" class="table table-bordered">
      <thead>
        <tr>
          <th>Student</th>
          <th class="not-visible-xs text-center">Date Requested</th>
          <th class="not-visible-xs">Tutor</th>
          <th class="not-visible-xs">Subject</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render @engagements %>
        <%= render partial: "engagement", collection: @archived_engagements %>
      </tbody>
    </table>
<% end %>

<%= render "layouts/data_tables_script", table_id: "#engagements_table" %>
