<div class="page-content container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="widget">
        <div class="widget-heading clearfix">
          <h3 class="widget-title pull-left">Engagements</h3>
          <%= link_to "Add a new engagement", new_engagement_path, class: "pull-right btn" %>
        </div>
        <div class="widget-body">
          <div class="table-responsive">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th>Student</th>
                  <th>Tutor</th>
                  <th>Subject</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                  <%= render @engagements %>
                  <%= render partial: "engagement", collection: @archived_engagements %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
