<% refunds = local_assigns.fetch(:refunds, false) %>
<table class="table table-striped mb-0" id="payment_table">
  <thead>
    <tr>
      <th class="col-xs-2 text-center">Date</th>
      <th class="col-xs-1 text-center">Status</th>
      <th><%= title %></th>
      <th>Amount</th>
      <% if controller_name == "payments" && current_user.admin? %>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "admin/payments/payment", collection: payments %>
    <%= render(partial: "admin/payments/payment", collection: refunds) if refunds %>
  </tbody>
</table>

<%= render "layouts/data_tables_script", table_id: "#payment_table", order: "desc" %>
