<div class="table-responsive">
  <table class="table mb-0">
    <thead>
      <tr>
        <th class="text-center">Date</th>
        <th><%= title %></th>
        <th class="text-center">Status</th>
        <th class="text-center">Amount</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "admin/payments/payment", collection: payments %>
    </tbody>
  </table>
</div>
