<div class="table-responsive">
  <table class="table table-striped mb-0">
    <thead>
      <tr>
        <th class="col-xs-1 text-center">Status</th>
        <th>Date</th>
        <th><%= title %></th>
        <th>Amount</th>
        <% if controller_name == "payments" && current_user.admin? %>
          <th>Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "admin/payments/payment", collection: payments %>
    </tbody>
  </table>
</div>

<%= render "layouts/data_tables_script", table_id: "#payment_table", order: "desc" %>
