<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-heading clearfix">
        <h3 class="widget-title pull-left">Client Payments</h3>
      </div>
      <div class="widget-body">
        <div role="tabpanel">
          <ul role="tablist" class="nav nav-tabs nav-justified mb-15">
            <li role="presentation" class="active"><a id="client-payments-tab" href="#client-payments" role="tab" data-toggle="tab" aria-controls="client-payments" aria-expanded="true">Client Payments</a></li>
            <li role="presentation" class=""><a id="tutor-payouts-tab" href="#tutor-payouts" role="tab" data-toggle="tab" aria-controls="tutor-payouts" aria-expanded="false">Tutor Payouts</a></li>
          </ul>

          <div class="tab-content">
            <%= render "admin/payments/payments_table", payments: @payments, active: true, div_id: "client-payments", title: "Client" %>
            <%= render "admin/payments/payments_table", payments: @payouts, active: false, div_id: "tutor-payouts", title: "Payee" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
