<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-heading clearfix">
        <h3 class="widget-title pull-left">Client Payments</h3>
      </div>
      <div class="widget-body">
        <h5>Total amount received: $<%= Money.new @payments.sum(:amount_cents) %></h3>
        <%= render "admin/payments/payments_table", payments: @payments, title: "Client" %>
        <%= will_paginate @payouts %>
      </div>
    </div>
  </div>
</div>
