<div class="row">
  <div class="col-lg-1 col-sm-1">
    <a href="<%= employees_timesheets_path %>" title="Back to timesheets" class="fs-24 p-20 mt-10 pull-right" >
      <i class="ion-chevron-left"></i>
    </a>
  </div>
  <%= render "employees/timesheet_form" %>
</div>
