<% content_for :head do %>
  <title>About Top Tutoring</title>
  <meta name="description" content="Since it was started, Top Tutoring has helped a countless number of students like you reach their academic goals and improve hundreds of points on the SAT. Call us to schedule your first class today. ">
  <meta name="keywords" content= "SAT test prep, PSAT test prep, tutoring" />
<% end %>

<div id="aboutus">
  <div class="container">
    <div class="section_header section_header_small_screen">
      <h3>About Us</h3>
    </div>
    <div class="row">
      <div class="col-sm-6 intro">
          <p>
          Top Tutoring was created in 2009 by UC Berkeley graduates who saw the lack of quality, ethical tutoring that delivers. Since then, we have helped a countless number of students like you reach their academic goals and improve hundreds of points on the SAT. Our services currently include SAT tutoring, academic tutoring, and <a href = "http://www.essaysage.com"> essay editing.</a> </p>
          <br />
          <p>Our office is currently located in Alameda, California, where we teach both classes and individual tutoring. Schedule an appointment and visit us today!</p>
      </div>
      <div class="col-sm-6">
        <img class ="img-responsive" src="img/aboutus.jpg" alt = "berkeley campanile" />
      </div>
    </div>
  </div>
</div>
