<% content_for :head do %>
  <title>Contact Top Tutoring</title>
  <meta name="description" content="Since it was started, Top Tutoring has helped a countless number of students like you reach their academic goals and improve hundreds of points on the SAT. Call us to schedule your first class today. ">
  <meta name="keywords" content= "SAT test prep, PSAT test prep, tutoring" />
<% end %>

<div id="contact">
  <div class="container">
    <div class="section_header section_header_small_screen contact_header">
      <h3>Contact Us</h3>

    </div>

    <div class="row submission">
      <p>Thank You! Your response has been recorded.</p>
    </div>
  </div>
</div>
