<% content_for :head do %>
  <title>Contact Top Tutoring</title>
  <meta name="description" content="Have questions about the SAT, PSAT, or academic tutoring? We would love to hear from you.  ">
  <meta name="keywords" content= "SAT test prep, PSAT test prep, tutoring" />
<% end %>

<div id="contact">
  <div class="container">
    <div class="section_header section_header_small_screen">
      <h3>Contact Us</h3>
      <span class = "address">
        <i class="fa fa-home"></i> 2238 Encinal Ave #A, Alameda CA 94501  |
        <i class="fa fa-phone"></i>  1.510.734.6697  |
        <i class="fa fa-envelope"></i>
        <a href="mailto:tutor@toptutoring.com">tutor@toptutoring.com </a>
      </span>
    </div>

    <div class="row contact">
      <p>
        We’d love to hear from you. Please fill out the following form with any questions or to request more information about our services. We'll get back to you shortly.</p>


        <div class="row form">
        <script type="text/javascript">var submitted=false;</script>
        <iframe name="hidden_iframe" id="hidden_iframe"
        style="display:none;" onload="if(submitted)
        {window.location='contactsubmit.html';}"></iframe>
        <form action="https://docs.google.com/forms/d/1jdebJ6lksNeJK3BPMofnqNmWyl_IWo9PBc7PvdCXHaE/formResponse" method="POST" id="ss-form"
        target="hidden_iframe" onSubmit="submitted=true;">

          <div class="col-sm-6 row-col">
            <div class="box">
              <input type="text" name="entry.1144948821" value="" class="ss-q-short valid name form-control" id="entry_1144948821" dir="auto" aria-label="Name  " title="" placeholder="Name">

              <input type="text" name="entry.1850342302" value="" class="ss-q-short valid mail form-control" id="entry_1850342302" dir="auto" aria-label="Email  " title="" placeholder="Email">

              <input type="text" name="entry.1316140474" value="" class="ss-q-short valid phone2 form-control" id="entry_1316140474" dir="auto" aria-label="Phone  " title="" placeholder="Phone">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="box">
              <textarea placeholder="Type a message here..." name="entry.1976405812" class="ss-q-long valid form-control" id="entry_1976405812" dir="auto" aria-label="Message  "></textarea>
            </div>
          </div>
        </div>

        <div class="row submit">
          <div class="col-md-3 right">
            <input type="submit" name="submit" value="Send your message" id="ss-submit">
          </div>
        </div>
      </div>
  </div>
