<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Toptutoring</title>
    <!-- PACE-->
    <script type="text/javascript" src="../plugins/tinycolor/demo/jquery-1.9.1.js"></script>
    <!-- Bootstrap JavaScript-->
    <script type="text/javascript" src="../plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Malihu Scrollbar-->
    <script type="text/javascript" src="../plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- Animo.js-->
    <!-- Bootstrap Progressbar-->
    <script type="text/javascript" src="../plugins/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- jQuery Easy Pie Chart-->
    <script type="text/javascript" src="../plugins/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
    <!-- Jvector Map-->
    <script type="text/javascript" src="../plugins/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
    <script type="text/javascript" src="../plugins/jvectormap/maps/jquery-jvectormap-world-mill.js"></script>
    <!-- jQuery BlockUI-->
    <script type="text/javascript" src="../plugins/blockUI/jquery.blockUI.js"></script>
    <!-- Flot Charts-->
    <script type="text/javascript" src="../plugins/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="../plugins/flot/jquery.flot.resize.js"></script>
    <script type="text/javascript" src="../plugins/flot.curvedlines/curvedLines.js"></script>
    <script type="text/javascript" src="../plugins/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <!-- DataTables-->
    <script type="text/javascript" src="../plugins/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../plugins/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="../plugins/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="../plugins/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script type="text/javascript" src="../plugins/jszip/dist/jszip.min.js"></script>
    <script type="text/javascript" src="../plugins/pdfmake/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="../plugins/pdfmake/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="../plugins/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="../plugins/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="../plugins/datatables.net-colreorder/js/dataTables.colReorder.min.js"></script>
    <script type="text/javascript" src="../plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="../plugins/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <!-- Core JS-->
    <script type="text/javascript" src="../build/js/first-layout/app.js"></script>
    <script type="text/javascript" src="../build/js/first-layout/demo.js"></script>
    <link rel="stylesheet" type="text/css" href="../plugins/PACE/themes/blue/pace-theme-flash.css">
    <script type="text/javascript" src="../plugins/PACE/pace.min.js"></script>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="../plugins/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../plugins/animo.js/animate-animo.css">
    <!-- JQuery -->
    <!-- Ionicons-->
    <link rel="stylesheet" type="text/css" href="../plugins/Ionicons/css/ionicons.min.css">
    <!-- Malihu Scrollbar-->
    <link rel="stylesheet" type="text/css" href="../plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css">
    <!-- Animo.js-->
    <link rel="stylesheet" type="text/css" href="../plugins/animo.js/animate-animo.min.css">
    <script type="text/javascript" src="../plugins/animo.js/animo.js/"></script>
    <!-- Bootstrap Progressbar-->
    <link rel="stylesheet" type="text/css" href="../plugins/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css">
    <!-- Toastr-->
    <link rel="stylesheet" type="text/css" href="../plugins/toastr/toastr.min.css">
    <!-- SpinKit-->
    <link rel="stylesheet" type="text/css" href="../plugins/SpinKit/css/spinners/2-double-bounce.css">
    <!-- Weather Icons-->

    <script type="text/javascript" src="../plugins/moment/moment.js/"></script>
    <script type="text/javascript" src="../plugins/bootstrap/js/modal.js/"></script>

    <script type="text/javascript" src="../build/js/page-content/charts/flot-charts.js"></script>
    <script type="text/javascript" src="../build/js/page-content/charts/chart-js.js"></script>
    <script type="text/javascript" src="../build/js/page-content/charts/morris-charts.js"></script>


    <link rel="stylesheet" type="text/css" href="../plugins/weather-icons/css/weather-icons-wind.min.css">
    <link rel="stylesheet" type="text/css" href="../plugins/weather-icons/css/weather-icons.min.css">
    <!-- Bootstrap Date Range Picker-->
    <link rel="stylesheet" type="text/css" href="../plugins/bootstrap-daterangepicker/daterangepicker.css">
    <script type="text/javascript" src="../plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

    <script type="text/javascript" src="../plugins/jquery-minicolors/jquery.minicolors.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../plugins/jquery-minicolors/jquery.minicolors.css">

    <script type="text/javascript" src="../plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../plugins/magnific-popup/dist/magnific-popup.css">

    <script type="text/javascript" src="../plugins/jquery-ui/jquery-ui.js"></script>

    <script type="text/javascript" src="../build/js/page-content/extra-pages/chat-dashboard.js"></script>

    <!-- Core CSS-->
    <link rel="stylesheet" type="text/css" href="../build/css/first-layout.css">

    <!-- Bootstrap JavaScript-->
    <script type="text/javascript" src="../plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script id="twitter-wjs" src="http://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript" charset="utf-8" async="" src="https://platform.twitter.com/js/button.3943c052be33b5e812dac6838df9cb3d.js"></script>
<!-- JavaScript -->
<script type="text/javascript" charset="utf-8" async="" src="https://platform.twitter.com/js/button.3943c052be33b5e812dac6838df9cb3d.js"></script>
<%= csrf_meta_tags %>
<script src="/assets/jquery_ujs.self-784a997f6726036b1993eb2217c9cb558e1cbb801c6da88105588c56f13b466a.js?body=1"></script>
  </head>
  </head>
  <body>
    <!-- Header start-->
    <header>
      <div class="search-bar closed">
        <form>
          <div class="input-group input-group-lg">
            <input type="text" placeholder="Search for..." class="form-control"><span class="input-group-btn">
              <button type="button" class="btn btn-default search-bar-toggle"><i class="ion-close-round"></i></button></span>
          </div>
        </form>
      </div><a href="javascript:;" role="button" class="hamburger-menu pull-left"><span></span></a>
      <form class="search-form m-10 pull-left hidden-xs">
        <div class="form-group has-feedback mb-0">
          <input type="text" aria-describedby="inputSearchFor" placeholder="Search for..." style="width: 180px" class="form-control rounded"><span aria-hidden="true" class="ion-search form-control-feedback"></span><span id="inputSearchFor" class="sr-only">(default)</span>
        </div>
      </form>
      <ul class="notification-bar list-inline pull-right">
        <li class="visible-xs"><a href="javascript:;" role="button" class="header-icon search-bar-toggle"><i class="ion-search"></i></a></li>
        <li class="dropdown hidden-sm hidden-xs"><a id="dropdownMenu2" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle header-icon lh-1 pt-10 pb-10">
            <div class="media mt-0">
              <div class="media-left avatar"><img src="../build/images/users/04.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
              <div class="media-right media-middle pl-0">
                <p class="fs-12 mb-0">Hi, <%= current_user.name %> </p>
              </div>
            </div></a>
          <ul aria-labelledby="dropdownMenu2" class="dropdown-menu dropdown-menu-right fadeInUp icon animated" style="animation-duration: 0.2s; animation-delay: 0s; animation-timing-function: linear; animation-iteration-count: 1;">
            <li><a href="#"><i class="ion-person mr-5"></i> My Profile</a></li>
            <li><a href="#"><i class="ion-filing mr-5"></i> Inbox</a></li>
            <li><a href="#"><i class="ion-gear-b mr-5"></i> Account Settings</a></li>
            <li>
              <%= link_to sign_out_path, method: :delete do %>
                <i class="ion-unlocked mr-5"></i>Logout
                <% end %>
            </li>
          </ul>
        </li>
        <li><a href="javascript:;" role="button" class="right-sidebar-toggle bubble header-icon"><i class="ion-arrow-return-right"></i><span class="badge bg-danger">5</span></a></li>
      </ul>
    </header>
    <!-- Header end-->
    <div class="main-container">
      <!-- Main Sidebar start-->
      <aside data-mcs-theme="minimal-dark" class="main-sidebar mCustomScrollbar">
        <div class="media user">
          <div class="media-left">
            <div id="esp-user-profile" data-percent="66" style="height: 56px; width: 56px; line-height: 40px; padding: 8px;" class="easy-pie-chart"><img src="../build/images/users/04.jpg" alt="" class="avatar img-circle"></div>
          </div>
          <div style="overflow: visible" class="media-body media-middle">
            <h4 class="media-heading fs-16"><%= current_user.name %></h4>
            <div class="dropdown"><a id="dropdown-status" href="javascript:;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" class="dropdown-toggle"><span class="status bg-success"></span> Online <span class="caret"></span></a>
              <ul aria-labelledby="dropdown-status" class="dropdown-menu animated fadeInUp">
                <li><a href="#">Offline</a></li>
                <li><a href="#">Busy</a></li>
                <li><a href="#">Away</a></li>
              </ul>
            </div>
          </div>
        </div>
        <ul class="list-unstyled navigation mb-0">
          <li class="sidebar-category">Main</li>
          <li class="panel"><a href="/dashboard"><i class="ion-ios-home-outline bg-purple"></i><span class="sidebar-title">Dashboard</span></a></li>
          <li class="panel"><a href="#"><i class="ion-ios-person-outline bg-success"></i><span class="sidebar-title">Profile</span></a></li>
          <li class="panel"><a href="calendar.html"><i class="ion-ios-calendar-outline bg-info"></i><span class="sidebar-title">Calendar</span></a></li>
          <li class="panel"><a href="#"><i class="ion-ios-printer-outline bg-danger"></i><span class="sidebar-title">Messages</span></a></li>
        </ul>
      </aside>
      <!-- Main Sidebar end-->
      <div class="page-container">
        <div class="page-content container-fluid">
          <div class="row">
            <div class="social-btns col-md-3 col-sm-12 col-xs-12">
              <div class="widget">
                <div class="widget-body">
                  <div class="media">
                    <div class="media-body">
                      <a href="/auth/dwolla", class="btn btn-block social-btn", style="padding:35px;">Log in with Dwolla</a>
                  </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="widget">
                <div class="widget-body">
                  <div class="media">
                    <div class="media-body"><span class="fs-12 text-muted text-uppercase">Total Revenue </span><span class="text-success"><i class="ion-arrow-up-c"></i> 6.54%</span>
                      <div class="fs-36 fw-300">$<span class="counter">20,320</span></div>
                    </div>
                    <div class="media-right"><i class="ion-ios-pulse fs-36"></i></div>
                  </div>
                </div>
                <div id="flot-revenue" style="height: 50px; margin-top: -30px"></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="widget">
                <div class="widget-body">
                  <div class="media">
                    <div class="media-body"><span class="fs-12 text-muted text-uppercase">New Students </span><span class="text-success"><i class="ion-arrow-up-c"></i> 5.62%</span>
                      <div class="fs-36 fw-300 counter">7</div>
                    </div>
                    <div class="media-right"><i class="ion-ios-person-outline fs-36"></i></div>
                  </div>
                </div>
                <div id="flot-user" style="height: 50px; margin-top: -30px"></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="widget">
                <div class="widget-body">
                  <div class="media">
                    <div class="media-body"><span class="fs-12 text-muted text-uppercase">Student Feedback </span><span class="text-success"><i class="ion-arrow-up-c"></i> 3.98%</span>
                      <div class="fs-36 fw-300 counter">9</div>
                    </div>
                    <div class="media-right"><i class="ion-ios-compose-outline fs-36"></i></div>
                  </div>
                </div>
                <div id="flot-feedback" style="height: 50px; margin-top: -30px"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="widget">
                <div class="widget-heading clearfix">
                  <h3 class="widget-title pull-left">Latest Sessions</h3>
                  <ul class="widget-tools pull-right list-inline">
                    <li><a href="javascript:;" class="widget-collapse"><i class="ion-chevron-up"></i></a></li>
                    <li><a href="javascript:;" class="widget-reload"><i class="ion-refresh"></i></a></li>
                    <li><a href="javascript:;" class="widget-remove"><i class="ion-close-round"></i></a></li>
                  </ul>
                </div>
                <div class="widget-body">
                  <div class="table-responsive">
                    <table class="table mb-0">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Student Name</th>
                          <th class="text-center">Date</th>
                          <th class="text-center">Payment</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>Edison Quintin</td>
                          <td class="text-center">20 Aug 2016</td>
                          <td class="text-center"><span class="label label-outline label-primary">Pending</span></td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>Harold Page</td>
                          <td class="text-center">15 Oct 2016</td>
                          <td class="text-center"><span class="label label-outline label-primary">Pending</span></td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>Nelson Kaleb</td>
                          <td class="text-center">15 Oct 2016</td>
                          <td class="text-center"><span class="label label-outline label-success">Released</span></td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td>Malcom Austin</td>
                          <td class="text-center">06 Apr 2016</td>
                          <td class="text-center"><span class="label label-outline label-success">Released</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="widget">
                <div class="widget-heading">
                  <h3 class="widget-title">Today's activities</h3>
                </div>
                <div class="widget-body">
                  <ul class="activity-list activity-sm list-unstyled mb-0">
                    <li class="activity-purple">
                      <time datetime="2016-12-10T20:50:48+07:00" class="fs-13 text-muted">15:00</time>
                      <p class="mt-10 mb-0">Math session with Karen Ortega</p>
                    </li>
                    <li class="activity-danger">
                      <time datetime="2016-12-10T20:42:40+07:00" class="fs-13 text-muted">18:30</time>
                      <p class="mt-10 mb-0">Biology session with Harold Fuller</p>
                    </li>
                    <li class="activity-warning">
                      <time datetime="2016-12-10T20:35:35+07:00" class="fs-13 text-muted">20:00</time>
                      <p class="mt-10 mb-0">Math session with Harold Fuller</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="widget">
                <div class="widget-heading clearfix">
                  <h3 class="widget-title pull-left">Sessions Analytics</h3>
                  <ul class="widget-tools pull-right list-inline">
                    <li><a href="javascript:;" class="widget-collapse"><i class="ion-chevron-up"></i></a></li>
                    <li><a href="javascript:;" class="widget-reload"><i class="ion-refresh"></i></a></li>
                    <li><a href="javascript:;" class="widget-remove"><i class="ion-close-round"></i></a></li>
                  </ul>
                </div>
                <div class="widget-body">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="clearfix">
                        <div id="flot-sale-legend" class="pull-left">
                          <table style="font-size:smaller;color:#545454">
                            <tbody>
                              <tr>
                                <td class="legendColorBox">
                                  <div style="border:1px solid rgba(0,0,0,0);padding:1px">
                                    <div style="width:4px;height:0;border:5px solid #ED4D6E;overflow:hidden"></div>
                                  </div>
                                </td>
                                <td class="legendLabel">Revenue</td>
                                <td class="legendColorBox">
                                  <div style="border:1px solid rgba(0,0,0,0);padding:1px">
                                    <div style="width:4px;height:0;border:5px solid #0667D6;overflow:hidden"></div>
                                  </div>
                                </td>
                                <td class="legendLabel">Sessions</td><td class="legendColorBox">
                                  <div style="border:1px solid rgba(0,0,0,0);padding:1px">
                                    <div style="width:4px;height:0;border:5px solid #17A88B;overflow:hidden"></div>
                                  </div>
                                </td>
                                <td class="legendLabel">Students</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="pull-right">
                          <div role="group" aria-label="Change date" class="btn-group btn-rounded">
                            <button type="button" class="btn btn-default btn-outline">Last 7 days</button>
                            <button type="button" class="btn btn-default btn-outline">Last month</button>
                            <button type="button" class="btn btn-default btn-outline">Last 3 months</button>
                          </div>
                        </div>
                      </div>
                      <div id="flot-sale" style="height: 351px; padding: 0px; position: relative;"><canvas class="flot-base" width="736" height="351" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 736px; height: 351px;"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div style="position: absolute; max-width: 212px; top: 338px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: Lato, sans-serif; color: rgb(154, 154, 154); left: 14px; text-align: center;">Monday</div><div style="position: absolute; max-width: 212px; top: 338px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: Lato, sans-serif; color: rgb(154, 154, 154); left: 127px; text-align: center;">Tuesday</div><div style="position: absolute; max-width: 212px; top: 338px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: Lato, sans-serif; color: rgb(154, 154, 154); left: 230px; text-align: center;">Wednesday</div><div style="position: absolute; max-width: 212px; top: 338px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: Lato, sans-serif; color: rgb(154, 154, 154); left: 348px; text-align: center;">Thursday</div><div style="position: absolute; max-width: 212px; top: 338px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: Lato, sans-serif; color: rgb(154, 154, 154); left: 468px; text-align: center;">Friday</div><div style="position: absolute; max-width: 212px; top: 338px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: Lato, sans-serif; color: rgb(154, 154, 154); left: 573px; text-align: center;">Saturday</div><div style="position: absolute; max-width: 212px; top: 338px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: Lato, sans-serif; color: rgb(154, 154, 154); left: 690px; text-align: center;">Sunday</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div style="position: absolute; top: 317px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: Lato, sans-serif; color: rgb(154, 154, 154); left: 13px; text-align: right;">0</div><div style="position: absolute; top: 254px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: Lato, sans-serif; color: rgb(154, 154, 154); left: 0px; text-align: right;">100</div><div style="position: absolute; top: 191px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: Lato, sans-serif; color: rgb(154, 154, 154); left: 0px; text-align: right;">200</div><div style="position: absolute; top: 128px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: Lato, sans-serif; color: rgb(154, 154, 154); left: 0px; text-align: right;">300</div><div style="position: absolute; top: 65px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: Lato, sans-serif; color: rgb(154, 154, 154); left: 0px; text-align: right;">400</div><div style="position: absolute; top: 2px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: Lato, sans-serif; color: rgb(154, 154, 154); left: 0px; text-align: right;">500</div></div></div><canvas class="flot-overlay" width="736" height="351" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 736px; height: 351px;"></canvas></div>
                      <div class="row row-0 mt-10 text-center">
                        <div class="col-xs-4">
                          <div class="fs-36 fw-300">$500</div><span class="fs-12 text-muted text-uppercase">Total Revenue </span><span class="text-danger"><i class="ion-arrow-down-c"></i> 2.43%</span>
                        </div>
                        <div class="col-xs-4">
                          <div class="fs-36 fw-300">30</div><span class="fs-12 text-muted text-uppercase">Total Sessions </span><span class="text-success"><i class="ion-arrow-up-c"></i> 6.54%</span>
                        </div>
                        <div class="col-xs-4">
                          <div class="fs-36 fw-300">60</div><span class="fs-12 text-muted text-uppercase">Total Students </span><span class="text-success"><i class="ion-arrow-up-c"></i> 5.62%</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Right Sidebar start-->
      <aside class="right-sidebar closed">
        <ul role="tablist" class="nav nav-tabs nav-justified nav-sidebar">
          <li role="presentation" class="active"><a href="#chat" aria-controls="chat" role="tab" data-toggle="tab"><i class="ion-ios-chatboxes-outline"></i></a></li>
          <li role="presentation"><a href="#setting" aria-controls="setting" role="tab" data-toggle="tab"><i class="ion-ios-gear-outline"></i></a></li>
        </ul>
        <div data-mcs-theme="minimal-dark" class="tab-content nav-sidebar-content mCustomScrollbar">
          <div id="chat" role="tabpanel" class="tab-pane fade in active">
            <form>
              <div class="form-group has-feedback">
                <input type="text" aria-describedby="inputChatSearch" placeholder="Chat with..." class="form-control rounded"><span aria-hidden="true" class="ion-search form-control-feedback"></span><span id="inputChatSearch" class="sr-only">(default)</span>
              </div>
            </form>
            <div class="sidebar-category">Online</div>
            <ul class="chat-list mb-0 media-list">
              <li class="media"><a href="javascript:;" class="conversation-toggle">
                  <div class="media-left avatar"><img src="../build/images/users/20.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                  <div class="media-body">
                    <h5 class="media-heading">Crystal Wheeler</h5>
                    <p class="text-muted mb-0">United States</p>
                  </div>
                  <div class="media-right"><span class="badge bg-danger">1</span></div></a></li>
              <li class="media"><a href="javascript:;" class="conversation-toggle">
                  <div class="media-left avatar"><img src="../build/images/users/01.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                  <div class="media-body">
                    <h5 class="media-heading">Brian Austin</h5>
                    <p class="text-muted mb-0">brianaustin@example.com</p>
                  </div></a></li>
              <li class="media"><a href="javascript:;" class="conversation-toggle">
                  <div class="media-left avatar"><img src="../build/images/users/02.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                  <div class="media-body">
                    <h5 class="media-heading">David Clark</h5>
                    <p class="text-muted mb-0">david.clark@example.com</p>
                  </div></a></li>
              <li class="media"><a href="javascript:;" class="conversation-toggle">
                  <div class="media-left avatar"><img src="../build/images/users/12.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                  <div class="media-body">
                    <h5 class="media-heading">Emma Lawrence</h5>
                    <p class="text-muted mb-0">(707) 680 1328</p>
                  </div>
                  <div class="media-right"><span class="badge bg-danger">3</span></div></a></li>
              <li class="media"><a href="javascript:;" class="conversation-toggle">
                  <div class="media-left avatar"><img src="../build/images/users/06.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                  <div class="media-body">
                    <h5 class="media-heading">Brian Hudson</h5>
                    <p class="text-muted mb-0">06/03/1989</p>
                  </div></a></li>
            </ul>
            <div class="sidebar-category">Away</div>
            <ul class="chat-list mb-0 media-list">
              <li class="media"><a href="javascript:;" class="conversation-toggle">
                  <div class="media-left avatar"><img src="../build/images/users/16.jpg" alt="" class="media-object img-circle"><span class="status bg-warning"></span></div>
                  <div class="media-body">
                    <h5 class="media-heading">Evelyn Martinez</h5>
                    <p class="text-muted mb-0">evelyn_84@example.com</p>
                  </div>
                  <div class="media-right"><span class="badge bg-danger">1</span></div></a></li>
              <li class="media"><a href="javascript:;" class="conversation-toggle">
                  <div class="media-left avatar"><img src="../build/images/users/09.jpg" alt="" class="media-object img-circle"><span class="status bg-warning"></span></div>
                  <div class="media-body">
                    <h5 class="media-heading">Nicholas Mitchell</h5>
                    <p class="text-muted mb-0">(752) 282 4218</p>
                  </div></a></li>
              <li class="media"><a href="javascript:;" class="conversation-toggle">
                  <div class="media-left avatar"><img src="../build/images/users/03.jpg" alt="" class="media-object img-circle"><span class="status bg-warning"></span></div>
                  <div class="media-body">
                    <h5 class="media-heading">Tyler Gordon</h5>
                    <p class="text-muted mb-0">tylergordon@example.com</p>
                  </div></a></li>
            </ul>
            <div class="sidebar-category">Busy</div>
            <ul class="chat-list mb-0 media-list">
              <li class="media"><a href="javascript:;" class="conversation-toggle">
                  <div class="media-left avatar"><img src="../build/images/users/15.jpg" alt="" class="media-object img-circle"><span class="status bg-danger"></span></div>
                  <div class="media-body">
                    <h5 class="media-heading">Stephanie Ford</h5>
                    <p class="text-muted mb-0">29/06/1992</p>
                  </div></a></li>
              <li class="media"><a href="javascript:;" class="conversation-toggle">
                  <div class="media-left avatar"><img src="../build/images/users/07.jpg" alt="" class="media-object img-circle"><span class="status bg-danger"></span></div>
                  <div class="media-body">
                    <h5 class="media-heading">Adam Sandoval</h5>
                    <p class="text-muted mb-0">adam-86@example.com</p>
                  </div></a></li>
            </ul>
          </div>
          <div id="setting" role="tabpanel" class="tab-pane fade">
            <form class="form-horizontal">
              <div class="clearfix">
                <h5 class="pull-left lh-1">Available</h5>
                <div class="switch pull-right">
                  <input id="setting-1" type="checkbox" checked="">
                  <label for="setting-1" class="switch-black"></label>
                </div>
              </div>
              <p class="text-muted">Availability for sessions.</p>
            </form>
          </div>
        </div>
      </aside>
      <aside class="conversation closed">
        <h5 class="text-center m-0 p-20">Emma Lawrence<a href="javascript:;" class="conversation-toggle pull-left"><i class="ion-close-round text-muted"></i></a><a href="javascript:;" class="pull-right"><i class="ion-refresh text-muted"></i></a></h5>
        <ul data-mcs-theme="minimal-dark" class="chat-content pl-20 pr-20 mCustomScrollbar">
          <li class="chat-item self"><img src="../build/images/users/04.jpg" alt="" class="img-circle chat-avatar">
            <div class="chat-bubble">
              <div class="chat-text">Hello.</div>
            </div>
            <time datetime="2016-12-10T20:50:48+07:00" class="block fs-12 text-muted"><i class="ion-clock"></i> 12 minutes ago</time>
          </li>
          <li class="chat-item other"><img src="../build/images/users/12.jpg" alt="" class="img-circle chat-avatar">
            <div class="chat-bubble">
              <div class="chat-text">Hi.</div>
            </div>
            <time datetime="2016-12-10T20:50:48+07:00" class="block fs-12 text-muted"><i class="ion-clock"></i> 11 minutes ago</time>
          </li>
          <li class="chat-item self"><img src="../build/images/users/04.jpg" alt="" class="img-circle chat-avatar">
            <div class="chat-bubble">
              <div class="chat-text">How are you?</div>
            </div>
            <time datetime="2016-12-10T20:50:48+07:00" class="block fs-12 text-muted"><i class="ion-clock"></i> 11 minutes ago</time>
          </li>
          <li class="chat-item other"><img src="../build/images/users/12.jpg" alt="" class="img-circle chat-avatar">
            <div class="chat-bubble">
              <div class="chat-text">I'm good. How are you?</div>
            </div>
            <time datetime="2016-12-10T20:50:48+07:00" class="block fs-12 text-muted"><i class="ion-clock"></i> 10 minutes ago</time>
          </li>
          <li class="chat-item self"><img src="../build/images/users/04.jpg" alt="" class="img-circle chat-avatar">
            <div class="chat-bubble">
              <div class="chat-text">Good. Do you speak English?</div>
            </div>
            <time datetime="2016-12-10T20:50:48+07:00" class="block fs-12 text-muted"><i class="ion-clock"></i> 9 minutes ago</time>
          </li>
          <li class="chat-item other"><img src="../build/images/users/12.jpg" alt="" class="img-circle chat-avatar">
            <div class="chat-bubble">
              <div class="chat-text">A little. Are you American?</div>
            </div>
            <time datetime="2016-12-10T20:50:48+07:00" class="block fs-12 text-muted"><i class="ion-clock"></i> 8 minutes ago</time>
          </li>
          <li class="chat-item self"><img src="../build/images/users/04.jpg" alt="" class="img-circle chat-avatar">
            <div class="chat-bubble">
              <div class="chat-text">Yes.</div>
            </div>
            <time datetime="2016-12-10T20:50:48+07:00" class="block fs-12 text-muted"><i class="ion-clock"></i> 8 minutes ago</time>
          </li>
          <li class="chat-item other"><img src="../build/images/users/12.jpg" alt="" class="img-circle chat-avatar">
            <div class="chat-bubble">
              <div class="chat-text">Where are you from?</div>
            </div>
            <time datetime="2016-12-10T20:50:48+07:00" class="block fs-12 text-muted"><i class="ion-clock"></i> 7 minutes ago</time>
          </li>
          <li class="chat-item self"><img src="../build/images/users/04.jpg" alt="" class="img-circle chat-avatar">
            <div class="chat-bubble">
              <div class="chat-text">I'm from California.</div>
            </div>
            <time datetime="2016-12-10T20:50:48+07:00" class="block fs-12 text-muted"><i class="ion-clock"></i> 6 minutes ago</time>
          </li>
          <li class="chat-item other"><img src="../build/images/users/12.jpg" alt="" class="img-circle chat-avatar">
            <div class="chat-bubble">
              <div class="chat-text">Nice to meet you.</div>
            </div>
            <time datetime="2016-12-10T20:50:48+07:00" class="block fs-12 text-muted"><i class="ion-clock"></i> 15 seconds ago</time>
          </li>
          <li class="chat-item self"><img src="../build/images/users/04.jpg" alt="" class="img-circle chat-avatar">
            <div class="chat-bubble">
              <div class="chat-text">Nice to meet you too.</div>
            </div>
            <time datetime="2016-12-10T20:50:48+07:00" class="block fs-12 text-muted"><i class="ion-clock"></i> Just now</time>
          </li>
        </ul>
        <form class="pl-20 pr-20">
          <div class="form-group has-feedback mb-0">
            <input type="text" aria-describedby="inputSendMessage" placeholder="Sent a message" class="form-control rounded"><span aria-hidden="true" class="ion-edit form-control-feedback"></span><span id="inputSendMessage" class="sr-only">(default)</span>
          </div>
        </form>
      </aside>
      <!-- Right Sidebar end-->
    </div>
    <!-- jQuery-->
    <script type="text/javascript" src="../plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap JavaScript-->
    <script type="text/javascript" src="../plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Malihu Scrollbar-->
    <script type="text/javascript" src="../plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- Animo.js-->
    <!-- Bootstrap Progressbar-->
    <script type="text/javascript" src="../plugins/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- jQuery Easy Pie Chart-->
    <script type="text/javascript" src="../plugins/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
    <!-- MomentJS-->
    <script type="text/javascript" src="../plugins/moment/min/moment.min.js"></script>
    <!-- jQuery BlockUI-->
    <script type="text/javascript" src="../plugins/blockUI/jquery.blockUI.js"></script>
    <script type="text/javascript" src="../plugins/jvectormap/lib/world-map.js"></script>
    <script type="text/javascript" src="../plugins/jvectormap/jquery-jvectormap.js"></script>
    <!-- jQuery Counter Up-->
    <script type="text/javascript" src="../plugins/jquery-waypoints/waypoints.min.js"></script>
    <script type="text/javascript" src="../plugins/Counter-Up/jquery.counterup.min.js"></script>
    <!-- Flot Charts-->
    <script type="text/javascript" src="../plugins/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="../plugins/flot/jquery.flot.resize.js"></script>
    <script type="text/javascript" src="../plugins/flot.curvedlines/curvedLines.js"></script>
    <script type="text/javascript" src="../plugins/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <!-- Bootstrap Date Range Picker-->
    <script type="text/javascript" src="../plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- Core JS-->
    <script type="text/javascript" src="../plugins/animo.js/animo.min.js"></script>
    <script type="text/javascript" src="../plugins/datatables.net/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="../plugins/datatables.net-buttons/js/dataTables.buttons.js"></script>

    <script type="text/javascript" src="../build/js/page-content/dashboard/index-v2.js"></script>
    <script type="text/javascript" src="../build/js/page-content/dashboard/index.js"></script>
  </body>
</html>
