<section id="feature_slider" class="lol">
    <!--
      Each slide is composed by <img> and .info
      - .info's position is customized with css in index.css
      - each <img> parallax effect is declared by the following params inside its class:

      example: class="asset left-472 sp600 t120 z3"
      left-472 means left: -472px from the center
      sp600 is speed transition
      t120 is top to 120px
      z3 is z-index to 3
      Note: Maintain this order of params

      For the backgrounds, you can combine from the bgs folder :D
    -->
    <article class="slide" id="showcasing" style="background: url('img/asiangirlinclass.jpg') repeat-x top center;">
        <div class="info">
        <h2>Personalized Instruction, <br>   Small Classes, <b><br>    Big Results</b></h2>

      </div>
    </article>
    <article class="slide" id="ideas" style="background: url('img/asiangirloutside.jpg') repeat-x top center;">
      <div class="info">
        <h2>The Bay Area's premier SAT tutoring center </h2>
      </div>
    </article>
    <article class="slide" id="tour" style="background: url('img/asianguy.jpg') repeat-x top center;">
      <div class="info">
        <h2>Your Success, Guaranteed</h2>
      </div>
    </article>

  </section>

  <div id="showcase">
    <div class="container">
      <div class="section_header">
        <h3>Test Prep Services</h3>

      </div>

        <!-- Features Row -->
        <div class="features_op1_row">
          <!-- Feature -->
          <div class="col-sm-12 feature first">

            <div class="text">
              <h6>Achieve academic success with our SAT & PSAT test preparation courses.</h6><br>
              <h6 class = "info"><i>Currently serving the Alameda, Berkeley, Piedmont, Oakland, Hayward, Castro Valley, Lafayette, Dublin, Pleasanton, Union City, and Fremont areas. </i></h6><br>
              <h6>SAT Tutoring</h6>
              <p>Score high on the SAT and be accepted to your first choice university when you enroll in one of our SAT and PSAT test preparation programs. We aim to deliver results much faster than other tutoring companies. <a href = "contact.html"> Contact </a> us to schedule your course today.
              </p><br>
              <h6>Courses That Deliver</h6>
              <p>Our plans allow students to structure their study toward the most important concepts and strategies to maximize their score in the shortest amount of time.  We offer test prep sessions on Saturdays and weekdays after school hours. </p><br>
              <h6>About SAT Preparation Courses</h6>
              <p>We keep all classes small with a maximum size of 5 students. Small class sizes allow tutors to easily recognize areas in which each student is struggling. and deliver personalized instruction for the best results. </p><br>
              <h6>SAT Courses Money Back Guarantee</h6>
              <p>At Top Tutoring we guarantee an improvement in your score or your money back. If you are not satisfied with our services, we will actively take measures to better tailor our SAT courses to best fit your needs. </p>
              <p><br>
              <h6 class ="info"><i>Don't risk a rejection letter, start preparing for the SAT today with Top Tutoring</i></h6><br>
            </div>
          </div>
        </div>

      <div class="section_header">
        <h3>Other Services</h3>

      </div>
        <!-- Features Row -->
        <div class="features_op1_row">
          <!-- Feature -->
          <div class="col-sm-12 feature first">

            <div class="text">
              <h6>Academic Tutoring</h6>
              <p>Struggling in class? Here at Top Tutoring we offer subject tutoring for courses including English, History, Biology, Chemistry, Pre-Algebra, Algebra, Geometry, Pre-Calculus, and Psychology.
              </p><br>

              <h6>Essay Editing</h6>
              <p>
                Don't let writer's block overtake you! We offer in-depth and detailed essay editing services for college admission essays and academic essays. Ensure that your essay is 100% free of errors and ready for submission with our team of professional essay editors.
              </p><br>
            </div>
          </div>
        </div>

        <div class="section_header">
        <h3>Why Choose Top Tutoring?</h3>

      </div>
        <!-- Features Row -->
        <div class="features_op1_row">
          <!-- Feature -->
          <div class="col-sm-12 feature first">

            <div class="text">
              <h6>Ethical SAT Prep</h6>
              <p>At Top Tutoring we purchase books to provide practice problems made by the test makers themselves. Some other bay area companies have been known to illegally obtain real tests. Not only is this illegal, but those companies have no way of verifying the correct answers to the copied exam questions.
              </p><br>
              <h6>Focused Study</h6>
              <p>We don't rely on mindless repetition and drills to teach students, but cater our tutoring to each individual students' needs. Our material is based entirely on actual SAT questions so students get accurate diagnostic test results and effective practice problems that pinpoint their weaknesses.</p><br>
              <h6>The Best Tutors</h6>
              <p>We only hire the best. All our tutors come from top tier schools and have scored in the 98th percentile and above on the SAT. They are passionate about and enjoy teaching and helping students like you succeed. Most other SAT companies hire tutors who have scored much lower on the SAT than our tutors. While this may help in filling the gap to find enough tutors to teach, their lack of knowledge and familiarity with the SAT often limits the students potential for improvement.
              </p><br>
              <p>At Top Tutoring, we only give you the best.</p><br>
              <p><a href = "contact.html"> Contact </a> or call us at 510.842.5221 for a free consultation today.
            </div>
          </div>
        </div>


    </div>
  </div>
