<!DOCTYPE html>
<html>

<% content_for :head do %>
  <title>SAT Test Prep | PSAT | Academic Tutoring | Top Tutoring</title>
  <meta name="description" content="The SF Bay Area's top SAT prep company. Helping you achieve academic success with our SAT & PSAT test preparation courses. Results that deliver.">
  <meta name="keywords" content= "SAT test prep, PSAT test prep, tutoring" />
<% end %>

<body class="pull_top smooth">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href = "index.html"><img src ="img/toptutoring3.png" class="navbar-brand img-responsive"></a>

      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
        <div class="phone">
         Call For a Free Consultation (510) 842-5221
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="index.html">HOME</a></li>
          <li><a href="about-us.html">ABOUT US</a></li>                    
          <li><a href="services.html">SERVICES</a></li>
          <li><a href="contact.html">CONTACT US</a></li>
          <li><a href="New_SAT_2016.html">BLOG</a></li>
          <li><a href="login.html">LOGIN</a></li>

          <!-- <li><a href="sign-in.html">Sign in</a></li>
          <li><a href="sign-up.html">Sign up</a></li> -->
        </ul>

      </div>
    </div>
  </div>


<fieldset class="inputs"><ol>
        <li class="email input optional stringish" id="session_email_input"><label class=" label" for="session_email">Email</label><input id="session_email" name="session[email]" type="email">

</li>
        <li class="password input optional stringish" id="session_password_input"><label class=" label" for="session_password">Password</label><input id="session_password" name="session[password]" type="password">

</li>
</ol></fieldset>



  <div id="showcase">
    <div class="container">
      <div class="section_header">
        <h3>Test Prep Services</h3>
        
      </div>            
      
        <!-- Features Row -->
        <div class="features_op1_row">
          <!-- Feature -->
          <div class="col-sm-12 feature first">
          
            <div class="text">
              <h6>Achieve academic success with our SAT & PSAT test preparation courses.</h6><br>
              <h6 class = "info"><i>Currently serving the Alameda, Berkeley, Piedmont, Oakland, Hayward, Castro Valley, Lafayette, Dublin, Pleasanton, Union City, and Fremont areas. </i></h6><br>
              <h6>SAT Tutoring</h6>
              <p>Score high on the SAT and be accepted to your first choice university when you enroll in one of our SAT and PSAT test preparation programs. We aim to deliver results much faster than other tutoring companies. <a href = "contact.html"> Contact </a> us to schedule your course today.
              </p><br>
              <h6>Courses That Deliver</h6>
              <p>Our plans allow students to structure their study toward the most important concepts and strategies to maximize their score in the shortest amount of time.  We offer test prep sessions on Saturdays and weekdays after school hours. </p><br>
              <h6>About SAT Preparation Courses</h6>
              <p>We keep all classes small with a maximum size of 5 students. Small class sizes allow tutors to easily recognize areas in which each student is struggling. and deliver personalized instruction for the best results. </p><br>
              <h6>SAT Courses Money Back Guarantee</h6>
              <p>At Top Tutoring we guarantee an improvement in your score or your money back. If you are not satisfied with our services, we will actively take measures to better tailor our SAT courses to best fit your needs. </p>
              <p><br>
              <h6 class ="info"><i>Don't risk a rejection letter, start preparing for the SAT today with Top Tutoring</i></h6><br>
            </div>
          </div>
        </div>

      <div class="section_header">
        <h3>Other Services</h3>
        
      </div>   
        <!-- Features Row -->
        <div class="features_op1_row">
          <!-- Feature -->
          <div class="col-sm-12 feature first">
          
            <div class="text">
              <h6>Academic Tutoring</h6>
              <p>Struggling in class? Here at Top Tutoring we offer subject tutoring for courses including English, History, Biology, Chemistry, Pre-Algebra, Algebra, Geometry, Pre-Calculus, and Psychology. 
              </p><br>                        
           
              <h6>Essay Editing</h6>
              <p>
                Don't let writer's block overtake you! We offer in-depth and detailed essay editing services for college admission essays and academic essays. Ensure that your essay is 100% free of errors and ready for submission with our team of professional essay editors. 
              </p><br>
            </div>
          </div>
        </div>

        <div class="section_header">
        <h3>Why Choose Top Tutoring?</h3>
        
      </div>   
        <!-- Features Row -->
        <div class="features_op1_row">
          <!-- Feature -->
          <div class="col-sm-12 feature first">
          
            <div class="text">
              <h6>Ethical SAT Prep</h6>
              <p>At Top Tutoring our materials are entirely legal and authorized by the College Board. Other companies will use material illegally by copying tests from the College Board and copying problems from real SAT sittings. Not only is this illegal, but the company itself has no way of verifying the correct answers to the copied exam questions. 
              </p><br>  
              <h6>Focused Study</h6>
              <p>We don't rely on mindless repetition and drills to teach students, but cater our tutoring to each individual students' needs. Our material is based entirely on actual SAT questions so students get accurate diagnostic test results and effective practice problems that pinpoint their weaknesses.</p><br>   
              <h6>The Best Tutors</h6>                   
              <p>We only hire the best. All our tutors come from top tier schools and have scored in the 98th percentile and above on the SAT. They are passionate about and enjoy teaching and helping students like you succeed. Most other SAT companies hire tutors who have scored much lower on the SAT than our tutors. While this may help in filling the gap to find enough tutors to teach, their lack of knowledge and familiarity with the SAT often limits the students potential for improvement.
              </p><br>
              <p>At Top Tutoring, we only give you the best.</p><br>
              <p><a href = "contact.html"> Contact </a> or call us at 510.842.5221 for a free consultation today.
            </div>
          </div>
        </div>


    </div>
  </div>
      

   <!-- starts footer -->
  <footer id="footer">
    <div class="container">
      <div class="row sections">
        
        <div class="col-sm-4 testimonials">
          <h3 class="footer_header">
            About
          </h3>
          <span class ="address">Bay Area SAT test preparation and tutoring. Results that deliver. <br> <br> </span>
          <span class ="address"><b> Proudly Serving:</b><br>
            Alameda | Berkeley | Piedmont | Oakland <br>
            Moraga | Orinda | Lafayette | Dublin |
            Pleasanton | Union City | Fremont | Castro Valley</span>

          
          
        </div>
        <div class="col-sm-4 recent_posts">
          <h3 class="footer_header">
            Recent Posts
          </h3>
          <div class="post">
            <a href="New_SAT_2016.html.html">
              <img src="img/SAT_scantron_small.jpg" class="img-circle" />
            </a>
            <div class="date">
              What Will the New SAT Be Like?
            </div>
            <a href="New_SAT_2016.html" class="title">
              Find out about the upcoming changes to the new SAT
            </a>
          </div>
          <div class="post">
            <a href="New_SAT_Writing.html">
              <img src="img/beagle_reading_small.jpg" class="img-circle" />
            </a>
            <div class="date">
              The New SAT Writing Section
            </div>
            <a href="New_SAT_Writing.html" class="title">
              Be prepared for the new Writing section
            </a>
          </div>
        </div>
        <div class="col-sm-4 contact">
          <h3 class="footer_header">
            Top Tutoring
          </h3>
          <span class = "address">2238 Encinal Ave #A<br>
            Alameda, CA 94501<br><br>
            510.734.6697<br>
            tutor@toptutoring.com</span><br>
            <span class = "socialmedia">
              <!-- <span class = "socialpadding"><a href ="http://google.com/"<i class ="fa fa-google-plus-square fa-2x"></i></a></span> -->
              <a href = "https://www.facebook.com/pages/Toptutoring/251682038342960"><i class ="fa fa-facebook-square fa-2x"></i></a>  </span>                                           

         </div>
      </div>     
          <div>
            <span class ="copyrightlogo">© 2014 TopTutoring. All rights reserved. </span>
            <br>
            <span class ="copyrightlogo">SAT® is a trademark registered and/or owned by the College Board, which was not involved in the production of, and does not endorse, this site. </span>
          </div>
    </div>
    
             
  </footer>

  <!-- Scripts    
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/theme.js"></script>

  <script type="text/javascript" src="js/index-slider.js"></script> 
 -->

</body>
</html>