</br>
<div class="payment-container text-center">
  <h5 class="confirmation-title">Thank you for trying to make a payment.  We have moved your payment page into your dashboard after you log in.</h5>
</div>

</br>
<div class="payment-container text-center">
  <h5 class="confirmation-title">
    Please
    <%= link_to "log in", sign_in_path %>.
    If this is your first time logging in, you may need to <%= link_to "reset your password", reset_password_path %>.
  </h5>
</div>

</br>
<div class="payment-container text-center">
  <h5 class="confirmation-title">
    In the future, you can log in at any time with the 'Sign In' link at the top of the page.
  </h5>
</div>
