<% content_for :head do %>
  <title>SAT, PSAT Prep Courses | Tutoring | Top Tutoring</title>
  <meta name="description" content="Top Tutoring offers SAT 1, PSAT, and academic tutoring in small classes and one-oneone. Schedule your first class with us today.">
  <meta name="keywords" content= "SAT test prep, PSAT test prep, tutoring" />
<% end %>

<!-- SAT -->
<div id="service_2">
  <div class="container">
    <div class="section_header section_header_small_screen marginheader">
      <h3>SAT Test Prep </h3>
    </div>
    <div class="row perk">
      <div class="col-sm-2 fontawesome">
        <i class="fa fa-check-square-o fa-4x"></i>
      </div>

      <div class="col-sm-10 description_wrapper">
        <h5>Higher Scores When You Choose Top Tutoring</h5>
        <p>
          Acheive higher SAT scores with assistance from our staff offering personalized tutoring services in Alameda, California. At Top Tutoring, we take your child's academic future very seriously. Every lesson is prepared in advance and accompanied by visual aids, strategies, applications, and reviews. </p>
      </div>
    </div>

    <div class="row perk">
      <div class="col-sm-2 fontawesome">
        <i class="fa fa-comments fa-4x"></i>
      </div>

      <div class="col-sm-10 description_wrapper">
        <h5>One-on-One and Small Groups</h5>
        <p>
          Students receive exclusive attention with one-on-one tutoring in your home or at one of our offices. We also allow students to create a small group with friends to learn dynamically from each other's strengths and weaknesses. </p>
      </div>
    </div>


    <div class="row perk">
      <div class="col-sm-2 fontawesome">
        <i class="fa fa-fighter-jet fa-4x"></i>
      </div>

      <div class="col-sm-10 description_wrapper">
        <h5>Results Driven</h5>
        <p>
          We set ourselves apart because we care deeply about the improvement of our students. Even after the very first lesson, you will be able to see quantifiable results. After several lessons, students will experience drastic improvement.  </p>
      </div>
    </div>

    <div class="row perk">
      <div class="col-sm-2 fontawesome">
        <i class="fa fa-star fa-4x"></i>
      </div>

      <div class="col-sm-10 description_wrapper">
        <h5>Tutors That Make a Difference</h5>
        <p>
          Created by graduates from the University of California: Berkeley, we know what it takes to succeed academically. Students cannot achieve mastery if the instructors are not masters themselves. This is why at Top Tutoring, all test-prep instructors score above the 99th percentile of the nation and come from the nation's most prestigious universities.   </p>
      </div>
    </div>


    <div class="container">
      <div class="section_header marginheader">
        <h3>Other Services </h3>
      </div>
      <div class="row perk">
        <div class="col-sm-2 fontawesome">
          <i class="fa fa-book fa-4x"></i>
        </div>

        <div class="col-sm-10 description_wrapper">
          <h5>Academic Tutoring</h5>
          <p>
            Acheive academic success with our tutors at Top Tutoring. We currently offer help in subjects such as: English, History, Biology, Chemistry, Pre-Algebra, Algebra, Geometry, Pre-Calculus, Psychology. Please contact us for further availability.   </p>
        </div>
      </div>

      <div>
        <div class="col-sm-2 fontawesome">
          <i class="fa fa-copy fa-4x"></i>
        </div>

        <div class="col-sm-10 description_wrapper">
          <h5>Essay Editing</h5>
          <p>
            Whether you need help editing an English essay, research paper, to college admission essay, we're here to help. Let our knowledgeable staff assist you with the writing process. For online essay editing, check out <a href = "http://www.essaysage.com">www.essaysage.com</a></p>
            <br> <br>
            <span class = "consultation"><a href = "contact.html">Contact us </a> today for your free consultation.</span>
        </div>
      </div>
   </div>

  </div>
</div>
