<div class="row m-30">
  <div class="col-xs-12">
    <div class="widget p-20">
      <div class="widget-heading p-0">
        <h1 class="widget-title pb-10">Update <%= @city.name %></h1>
      </div>
      <div class="widget-body">
        <%= render "city_form" %>
      </div>
    </div>
  </div>
</div>
