<div class="widget">
  <div class="widget-heading">
    <h3 class="widget-title">Request a Tutor</h3>
    <div class="widget-body">
      <p>Need another tutor? No problem. We can help you get started on a new academic journey!</p>
      <div class="text-center">
        <%= link_to "Request a Tutor", new_clients_request_tutor_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
