<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-heading clearfix">
        <h3 class="widget-title pull-left"><%= @type %> Payments</h3>
      </div>
      <div class="widget-body">
        <%= render "admin/payments/payments_table", payments: @payouts, title: @type %>
        <%= will_paginate @payouts %>
      </div>
    </div>
  </div>
</div>
