<%= render "layouts/page_widget", title: "#{@type} Payouts" do %>
  <h5>Total amount paid: $<%= Money.new @payouts.sum(:amount_cents) %></h3>
  <%= render "admin/payments/payments_table", payments: @payouts, title: @type %>
<% end %>
