@font-face {
  font-family: 'Helvetica';
}
$helvetica-font: 'Helvetica', sans-serif;
$helvetica-regular-font: 'Helvetica', sans-serif;
$helvetica-medium-font: 'Helvetica', sans-serif;
$helvetica-display-font: 'Helvetica', serif;
