<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="widget">
      <div class="widget-heading">
        <h3 class="widget-title text-center">Editing <%= @user.full_name %></h3>
      </div>
      <div class="widget-body">
        <%= render partial: 'clients/edit_rates_and_balance_form', locals: { url: director_user_path(@user) } %>
      </div>
    </div>
  </div>
</div>
