<div id="flash_message">
</div>
<h2>Payment</h2>
</br>
<div class="row">
    <div>
      <section class="payment-section col-md-8">
      <%= render "payment_form" %>
      </section>
    </div>
  <% if @total_suggested_time %>
    <div class='col-md-4 pull-right'>
      <h3>Suggestions</h3>
      <p> Your tutors have suggested <%= @total_suggested_time %> in order for you to receive your academic goals. We suggest having enough credits for <%= @total_suggested_time %> so that your tutors can continue to schedule sessions with you. For a detailed list of suggestions made by your tutors, visit our <%= link_to 'suggestions page', suggestions_path %>.</p>
    </div>
  <% end %>
</div>

<script>
  //Calculates the product of chosen hours and tutoring rate in the low balance section
  function calculateProduct(id) {
    var currentCount = id.slice(-1);
    var input = document.getElementById("low_balance_hours-"+currentCount);
    var output = document.getElementById("product-"+currentCount);
    var payButton = document.getElementById("pay-button-"+currentCount);
    var tutoring_rate_string = document.getElementById("tutoring_rate-"+currentCount).textContent

    var tutoring_rate = tutoring_rate_string.match(/\d\d.\d\d+$/)[0];
    console.log(tutoring_rate);

    var product = (input.value*tutoring_rate).toFixed(2);

    output.textContent = product;
  }
</script>
