<% if current_user.assignment && current_user.assignment.active? %>
  <%= render "form" %>
<% else %>
  <div class="container">
    <div class="row text-center">
      <h3>We are in the process of assigning you a tutor.</h3>
    </div>
  </div>
<% end %>
