<div class="widget">
  <div class="widget-heading clearfix">
    <h3 class="widget-title">Your Balance</h3>
    <div class="widget-body">
      <p class="lead mt-30 text-center"><%= current_user.outstanding_balance %> hrs</p>
    </div>
  </div>
</div>
