$(function() {
  if (document.getElementById('blog-content-contenteditable')) {
    CKEDITOR.inline('blog-content-contenteditable', { "customConfig":"<%= javascript_path "ckeditor/config.js" %>" });

    document.getElementById('blog_post_title').oninput = function() {
      document.getElementById('blog-title-display').innerHTML = this.value;
    }

    document.getElementById('blog-content-contenteditable').onfocus = function() {
      if (this.innerHTML == "<p>Please add content</p>") {
        this.innerHTML = ''
      }
    }
    
    var form = document.getElementById("blog-form");
    form.addEventListener('submit', function(event) {
      $('input[type=submit]').attr('disabled', true);
      event.preventDefault();
      var options = {
        content: document.getElementById('blog-content-contenteditable').innerHTML,
      };
      appendInputs(form, options);
      form.submit();
    });

    var categoryLink = document.getElementById("category_link")
    categoryLink.onclick = function() {
      var value = document.getElementById("category_name").value
      this.href = "/blog_categories".concat("?category_name=".concat(value));
    }

    function appendInputs(form, options) {
      var contentInput = document.createElement('input');

      contentInput.setAttribute('type', 'hidden');
      contentInput.setAttribute('name', 'blog_post[content]');
      contentInput.setAttribute('value', options.content);
      form.appendChild(contentInput);
    };
  };
});
