<div class="social-btns col-md-5 col-sm-12 col-xs-12">
  <div class="widget">
    <div class="widget-heading clearfix">
      <h3 class="widget-title pull-left">Authenticating with Dwolla</h3>
    </div>
    <div class="widget-body">
      <div class="media">
        <div class="media-body text-center">
          <p>
            Hello <%= current_user.name %>, your director is using Dwolla in order to make transfers. Please click the button below to authenticate with Dwolla.
          </p>
          <a href="/auth/dwolla", class="btn btn-block social-btn">Authenticate with Dwolla</a>
      </div>
      </div>
    </div>
  </div>
</div>
