<div class="col-md-5">
  <div class="widget">
    <div class="widget-heading clearfix">
      <h3 class="widget-title pull-left">Authenticating with Dwolla</h3>
    </div>
    <div class="widget-body">
      <div class="media">
        <div class="media-body text-center">
          <p>
            <%= dwolla_message %>
          </p>
          <a href="/auth/dwolla", class="btn btn-block social-btn btn-blue">Authenticate with Dwolla</a>
      </div>
      </div>
    </div>
  </div>
</div>
