<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-heading clearfix">
        <h3 class="widget-title pull-left">Pending Engagements</h3>
      </div>
      <div class="widget-body">
        <div class="table-responsive">
          <table class="table mb-0">
            <thead>
              <tr>
                <th>Student Name</th>
                <th>Client Name</th>
                <th>Phone Number</th>
                <th>Subject</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "engagement", collection: @pending_engagements %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
