<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-heading clearfix">
        <h3 class="widget-title pull-left">Pending Engagements</h3>
      </div>
      <div class="widget-body">
        <table id="director-pending-engagements-table" class="table table-striped table-responsive mb-0">
          <thead>
            <tr>
              <th class="not-visible-xs">Date</th>
              <th>Student Name</th>
              <th class="not-visible-xs">Client Name</th>
              <th>Phone Number</th>
              <th class="not-visible-xs">Subject</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "engagement", collection: @pending_engagements %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= render "layouts/data_tables_script", table_id: "#director-pending-engagements-table", length: 5, order: "desc" %>
