<div class="col-md-8">
  <div class="widget">
    <div class="widget-heading">
      We have received your information and we are in the process of finding the best tutor for you!
    </div>
  </div>
</div>
