<div class="widget">
  <div class="widget-heading clearfix">
    <h3 class="widget-title pull-left">Your Students</h3>
  </div>
  <div class="widget-body">
    <div class="table-responsive">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>Student Name</th>
            <th class="text-center">Subject</th>
            <th class="text-center">Status</th>
            <th class="text-center">Credit</th>
          </tr>
        </thead>
        <tbody>
          <% @tutor_engagements.each do |engagement| %>
            <tr>
              <td><%= engagement.student_name %></td>
              <td class="text-center"><%= engagement.subject.name.titlecase %></td>
              <td class="text-center"><span class="label label-outline label-warning"><%= engagement.state %></span></td>
              <td class="text-center"><% engagement_client_credits(engagement) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
