<div class="col-md-8">
  <div class="widget">
    <div class="widget-heading">
      <h5>We have received your information and we are in the process of finding the best tutor for you!</h5>
    </div>
    <div class="widget-body">
      An expert tutor director will reach out to you within the next <b>24 hours</b>,
      by phone or by email, and get you connected with your new tutor.
    </div>
  </div>
  <%= render "client_dashboard_extras" %>
</div>
