<!-- left main -->
<div class="row">
  <div class="col-lg-8">
    <!-- tutor blocks -->
    <%= render "dashboards/clients/tutor_list" %>
    <!-- comment block -->
    <%= render "dashboards/clients/comment_form" %>
  </div>
  <!-- left main end -->
  <!-- right sidebar -->
  <div class="col-lg-4">
    <%= render "dashboards/clients/balance_widget" if current_user.client_account.engagements.any? %>
    <%= render "dashboards/clients/request_tutor_link" %>
  </div>
  <!-- right sidebar end -->
</div>
