<!-- left main -->
<% unless @engagements.active.any? %>
  <div class="row">
    <div class="col-xs-12">
      <div class="widget">
        <div class="widget-heading">
          <h3 class="widget-title">Welcome to Top Tutoring</h3>
          <div class="widget-body">
            <p>Thank you for signing up. Our director is working hard to find you a tutor. We'll notify you when you get a match. Thank you for your patience!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-lg-8">
    <!-- tutor blocks -->
    <% if @engagements.any? %>
    <%= render "dashboards/clients/tutor_list" %>
  <% end %>
    <!-- comment block -->
    <%= render "dashboards/clients/comment_form" %>
  </div>
  <div class="col-lg-4">
    <%= render "dashboards/clients/balance_widget" if @engagements.active.any? %>
    <%= render "dashboards/clients/request_tutor_link" %>
  </div>
  <!-- right sidebar end -->
</div>
