<%= render "dwolla_login" if !current_user.has_valid_dwolla? %>
<div class="row">
    <div class="col-md-6">
      <%= render "students" %>
      <%= render partial: "invoice_form" %>
    </div>
    <div class="col-md-6">
      <%= render "dashboards/tutors/balance_widget" %>
    </div>
  </div>
</div>
