<%= render "menu" %>
<% if !current_user.enabled? %>
  <%= render "new_user_message" %>
<% else %>
<div class="row">
  <%= render "students" %>
  <div class="col-md-8 col-md-offset-2 invoice-form">
    <div class="col-md-12">
      <div class="widget">
        <div class="widget-heading clearfix">
          <h3 class="widget-title text-center">Invoice session</h3>
          <p class="widget-hint pull-left">Use this form to log past sessions with your students</p>
        </div>
        <div class="widget-body">
          <%= render "invoice_form" %>
        </div>
      </div>
    </div>
  </div>
</end>
<% end %>