<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="widget p-15">
      <div class="widget-heading">
        <h3 class="widget-title text-center">Payment Confirmation</h3>
        <p class="widget-hint">An email receipt has also been sent for your records.</p>
      </div>
      <div class="widget-body pt-0">
        <table class="table table-responsive">
          <tbody>
            <tr>
              <td>
                <p>Date</p>
                <p><%= l(@payment.created_at, format: :long_date) %></p>
              </td>
              <td>
                <p>Billed To</p>
                <p><%= @payment.card_brand_and_four_digits %></p>
                <p><%= @payment.card_holder_name %></p>
              </td>
              <td>
                <p>TOTAL</p>
                <p>$<%= @payment.amount %></p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
