<div class= "container">
  <legend><h3><i class="icon-thumbs-up color-green"></i>
    <% flash.each do |key, value| %>
      <%= value %>
    <% end %></h3></legend>
    <h3 class="confirmation-title">Payment successfully completed!</h3>
</div>
