<% content_for(:title) { "Welcome to Top Tutoring" } %>

<%= render layout: "layouts/mailers/standard" do %>
  <p>Hello <%= @user.full_name %>,</p>
  <br/>
  <p><%= @user.client.full_name %> has added you as a student to Top Tutoring. To set up a password and access your account, <%= link_to "click here", edit_password_url(user_id: @user.id, token: @user.confirmation_token) %>.</p>
  <br/>
  <p>Regards,</p>
  <p>Top Tutoring</p>
<% end %>
