// Sigma styles adjusted for Top Tutoring

// App Header Styles

header {
  height: 54px;
}
header li a, .dropdown-menu li > a {
  height: 54px;
  line-height: 54px;
  margin: 0;
  padding: 0 20px;
}

// Sidebar Styles

.menu-profile-icon {
  width: 56px;
  height: 56px;
  line-height: 49px;
  padding: 2px;
}
.navigation {
  padding-bottom: 50vh;
}

// Input Styles

input[type='number'] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
// To ensure there's parity with stripe
.form-control {
  font-family: sans-serif;
}
