// Sigma styles adjusted for Top Tutoring

// App Header Styles

header {
  height: 54px;
}
header li a, .dropdown-menu li > a {
  height: 54px;
  line-height: 54px;
  margin: 0;
  padding: 0 20px;
}

// Sidebar Styles

.main-sidebar {
  overflow: auto;
}
.menu-profile-icon {
  width: 56px;
  height: 56px;
  line-height: 49px;
  padding: 2px;
}
.navigation {
  padding-bottom: 50vh;
}

// Input Styles

input[type='number'] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
// To ensure there's parity with stripe
.form-control {
  font-family: sans-serif;
}
.file-input {
  position: absolute;
  top: -2000px;
  left: -2000px;
}
.file-input-label {
  font-size: 24px;
  color: blue;
  cursor: pointer;
}

// Links

.profile-image-links {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0,0,0,.25);
  border-radius: 10%;
  padding: 4px 4px 0px 8px;
}
.profile-image-links i {
  font-size: 24px;
  color: #fff;
  margin-right: 10px;
  opacity: .7;
}
.profile-image-links i:hover {
  opacity: 1;
}
.profile-image-container {
  display: inline-block;
  margin: auto;
  position: relative;
  max-width:90%;
}
