// App variable fonts
$raleway: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;

// App variable colors

$text_default: #737373; // To revert to default font color
$text_light: #fefefe; // To revert to default font color
$foreground_white: rgb(240, 240, 240); // Brighter white
$major_blue: rgb(25, 57, 158);
$deep_blue: rgb(20, 39, 120);
$faded_blue: rgb(144, 142, 194);
$burnt_orange: rgb(240, 161, 10);
$blue_black: rgb(14, 14, 25);
$bg_dark: #292929;

// Background Colors prefixed with "bg"

.bg-blue {
  background-color: $major_blue;
  color: $foreground_white;
}

// Border Colors prefixed with "border"

.border-blue {
  border-color: $deep_blue;
}

// Text Colors prefixed with "text"

.text-orange {
  color: $burnt_orange !important;
}
.text-white {
  color: $foreground_white !important;
}
.text-deep-blue {
  color: $deep_blue !important;
}
.text-blue {
  color: $major_blue !important;
}

// Visibility styles not included with Sigma
.visible-xs,.visible-sm,.visible-md,.visible-lg {
  display:none!important;
}
@media(max-width:767px){
  .visible-xs {
    display:block!important;
  }
  .not-visible-xs {
    display:none!important;
  }
}
@media(min-width:768px) and (max-width:991px){
  .visible-sm {
    display:block!important;
  }
  .not-visible-sm {
    display:none!important;
  }
}
@media(min-width:992px) and (max-width:1199px){
  .visible-md {
    display:block!important;
  }
  .not-visible-md {
    display:none!important;
  }
}
@media(min-width:1200px){
  .visible-lg {
    display:block!important;
  }
  .not-visible-lg {
    display:none!important;
  }
}

// Star Rating
.star-rating {
  float: left;
  overflow: hidden;
}
.star-rating:not(:checked) > input {
  position: absolute;
  left: -80px;
  top: 8px;
  opacity: 0;
}
.star-rating:not(:checked) > label {
  float:right;
  width:1em;
  padding:0 .1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:200%;
  line-height:1.2;
  color:#ddd;
}
.star-rating:not(:checked) > label:before {
  content: '★ ';
}
.star-rating > input:checked ~ label {
  color: #f70;
}
.star-rating:not(:checked) > label:hover,
.star-rating:not(:checked) > label:hover ~ label {
  color: gold;
}
.star-rating > input:checked + label:hover,
.star-rating > input:checked + label:hover ~ label,
.star-rating > input:checked ~ label:hover,
.star-rating > input:checked ~ label:hover ~ label,
.star-rating > label:hover ~ input:checked ~ label {
  color: #ea0;
}
.star-rating > label:active {
  position:relative;
  top:2px;
  left:2px;
}
