body.login {
  color: #529ECC;
  a {
    color: white;
  }

  .highlight {
    font-weight: 800;
  }
}

.logo-word.large {
    float: none;
}

.logo-word {
    overflow: hidden;
    margin: auto;
    padding: 10px;
    font-size: 32px;
    position: relative;
    font-weight: 700;
    .icon {
      position: absolute;
      left: 0;
    }
}

#logo a {
    pointer-events: none;
    font-family: "Dancing Script";
    color: white;
}

.logo-word .logo_anchor {
    background-position: 50%;
    text-indent: -999em;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.login {
  .widget {
  border: none;
  }
  .social-btns {
    padding-left: 60px;
    min-height: 250px;
    margin-bottom: 15px;
    margin-top: 5%;
      .divider {
        padding: 3%;
      }
  }
  .btn {
    margin-left: 2px;
  }
  .signup-link {
    margin-left: 20%;
  }
  .fa {
    margin-right: 5px;
  }

  .social-btn .fa {
    font-size: 18px;
    position: relative;
    top: 2px;
    margin-right: 10px;
    border-right: 1px solid rgba(0,0,0,0.05);
    padding-right: 10px;
    width: 30px;
  }
}

form.login{
  input {
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    margin: 4px;
  }
  .form-group {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .login-container .page-content {
      padding: 150px 20px 0 0;
    }
}

.authentication-header {
  background-color: #292929;
  .logo {
    width: 60%;
  }
  .header-icon {
    color: white;
    letter-spacing: 1px;
    font-size: 15px;
  }
  .header-icon:hover {
    background-color: black;
  }
  .header-logo:hover {
    background-color: inherit;
  }
}

.footer-2 {
    padding-bottom: 35px;
    padding-top: 35px;
    color: white;
}
.bg-dark {
    background: #292929;
}
footer {
    padding: 72px 0;
}
section, footer {
    padding: 96px 0;
    position: relative;
    overflow: hidden;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1;
}

.footer-2 {
  .widget {
    margin-bottom: auto;
    border: inherit;
    border-radius: inherit;
    margin-bottom: 48px;
    .title {
      font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 12px;
      line-height: 24px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 700;
      margin-bottom: 12px;
    }
    .instafeed li {
      display: inline-block;
      padding: 0 4px 4px 0;
      color: #fefefe;
    }
    ul {
      padding-left: 0;
    }
  }
  a {
    color: #fff;
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  h6.uppercase{
    letter-spacing: 2px;
    font-weight: 700;
  }

  .careers-link {
    padding-top: 10px;
  }
}


.fade-half {
  opacity: 0.5;
}

.uppercase {
  font-weight: 400;
  text-transform: uppercase;
}
