/* 
   Table of contents
   1. Container Styles
   2. Email inputs
   3. Clearance Styles
   4. Alert Styles
   5. Pagination Styles
   6. Blog-Link Styles
   7. Span Styles
   8. Test Badge Styles
*/

// 1. Container Styles

.page-content {
  min-height: calc(100vh - 149px); // 94 + 55 (header/footer)
}

// 2. Email input to match template

input[type="email"] {
  background: #f5f5f5;
  border: none;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  font-weight: 500;
  margin-bottom: 24px;
  border-radius: 0;
}
input[type="email"]:focus {
  outline: 1px solid #ccc;
}

// 3. Clearance Styles

#clearance {
  display: block;
  padding: 96px 0;
    position: relative;
    overflow: hidden;
    width: 555px;
    margin: auto;
}

// 4. Adjusts alerts to have background
.alert {
  background: white;
}
#top-tutoring-flashes {
  width: 75%;
  position: fixed;
  top: 65px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
}

// 5. Pagination Styles
.pagination {
    display: block;
    text-align: center;
    margin: auto;
}
.pagination > * {
    display: inline;
    text-align: center;
    font-weight: 400;
    margin-right: 0.1em;
    padding: 15px;
    line-height: 1.42857143;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #59a4f0;
}
.pagination a:visited {
    color: #59a4f0;
}
.pagination a {
    color: #59a4f0;
}
.pagination a:hover {
    background: #59a4f0;
    color: white;
}
.pagination a:active {
    background: #59a4f0;
    color: white;
}
.pagination .current {
    background: #59a4f0;
    color: white;
}
.pagination .disabled {
    border-color: #C0C0C0;
    color: #C0C0C0;
}

// 6. Blog-link Styles
.link-list a:after {
  content: "";
}

// 7. Span Styles
.label {
  background-color: #59a4f0;
}

// 8. Test Badge Styles
.test-badge {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 64px;
  text-shadow: 2px 2px 3px grey;
}
.test-badge.test-badge-gold {
  color: gold;
}
