<%= render "layouts/page_widget", title: "Users" do %>
    <table id="admin-user-table" class="table table-bordered">
      <thead>
        <tr>
          <th class="col-xs-4 col-sm-3">Name</th>
          <th class="not-visible-xs text-center">Date Joined</th>
          <th class="not-visible-xs text-center">Email</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "user", collection: @users %>
      </tbody>
    </table>
<% end %>

<%= render "layouts/data_tables_dependencies", table_id: "admin-user-table" %>
