<div tab-index="-1" role="dialog" class="modal fade" id="confirm-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header border-none">
        <h3 id="confirm-modal-header" class="modal-title pull-left"></h3>
      </div>
      <div class="modal-body">
        <p id="confirm-modal-warning" class="text-danger"></p>
        <p id="confirm-modal-body"></p>
        <div class="row mt-15">
          <div class="col-xs-12">
            <%= link_to "Ok", "#", id: "confirm-modal-link", data: { dismiss: "modal" }, class: "btn btn-success pull-right ml-10" %>
            <button type="button" data-dismiss="modal" class="btn btn-default pull-right">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
