<header class="authentication-header">
  <ul class="notification-bar list-inline pull-left">
    <li class="visible-lg">
      <a href="http://toptutoring.com" role="button" class="header-icon header-logo sidebar-control">
        <img src="<%= image_url('toptutoring3.png') %>" class="logo">
      </a>
    </li>
  </ul>
  <ul class="notification-bar list-inline pull-right">
    <li class="visible-lg">
      <a href="http://www.toptutoring.com/sign_up/" role="button" class="header-icon sidebar-control">SIGN UP</a>
    </li>
    <li class="visible-lg">
      <a href="http://www.toptutoring.com/contact/" role="button" class="header-icon sidebar-control">CONTACT</a>
    </li>
    <li class="visible-lg">
      <a href="http://www.toptutoring.com/about_us/" role="button" class="header-icon sidebar-control">ABOUT US</a>
    </li>
    <li class="visible-lg">
      <a href="http://www.toptutoring.com/blog/" role="button" class="header-icon sidebar-control">BLOG</a>
    </li>
  </ul>
</header>
