<!-- starts footer -->
<footer id="footer">
  <div class="container">
    <div class="row sections">

      <div class="col-sm-4 testimonials">
        <h3 class="footer_header">
          About
        </h3>
        <span class ="address">Bay Area SAT test preparation and tutoring. Results that deliver. <br> <br> </span>
        <span class ="address"><b> Proudly Serving:</b><br>
          Alameda | Berkeley | Piedmont | Oakland <br>
          Hayward | Castro Valley | Lafayette | Dublin |
          Pleasanton | Union City | Fremont</span>
      </div>
      <div class="col-sm-4 recent_posts">
        <h3 class="footer_header">
          Recent Posts
        </h3>
        <div class="post">
          <a href="New_SAT_2016.html.html">
            <%= image_tag("SAT_scantron_small.jpg", class:"img-circle") %>
          </a>
          <div class="date">
            What Will the New SAT Be Like?
          </div>
          <a href="New_SAT_2016.html" class="title">
            Find out about the upcoming changes to the new SAT
          </a>
        </div>
        <div class="post">
          <a href="New_SAT_Writing.html.html">
            <%= image_tag("beagle_reading_small.jpg", class:"img-circle") %>
          </a>
          <div class="date">
            The New SAT Writing Section
          </div>
          <a href="New_SAT_Writing.html" class="title">
            Be prepared for the new Writing section
          </a>
        </div>
      </div>
      <div class="col-sm-4 contact">
        <h3 class="footer_header">
          Top Tutoring
        </h3>
        <span class = "address">2238 Encinal Ave #A<br>
          Alameda, CA 94501<br><br>
          1.510.734.6697<br>
          tutor@toptutoring.com</span><br>
          <span class = "socialmedia">
            <!-- <span class = "socialpadding"><a href ="http://google.com/"<i class ="fa fa-google-plus-square fa-2x"></i></a></span> -->
            <a href = "https://www.facebook.com/pages/Toptutoring/251682038342960"><i class ="fa fa-facebook-square fa-2x"></i></a>  </span>

       </div>
    </div>
        <div>
          <span class ="copyrightlogo">© 2014 Top Tutoring. All rights reserved. </span>
          <br>
          <span class ="copyrightlogo">SAT® is a trademark registered and/or owned by the College Board, which was not involved in the production of, and does not endorse, this site. </span>
        </div>
  </div>

</footer>
