<footer>
  <div class="row">
    <div class="col-xs-12">
      <div class="footer-left">
        <ul class="col-md-12 col-xs-6">
          <li>
            <a href="https://toptutoring.com/">Home</a>
          </li>
          <li>
            <%= link_to "Find a tutor", client_sign_up_path %>
          </li>
          <li>
            <a href="https://toptutoring.com/careers">Careers</a>
          </li>
          <li>
            <a href="https://toptutoring.com/blog">Blog</a>
          </li>
          <li>
            <a href="https://toptutoring.com/top-tutors">Our Tutors</a>
          </li>
          <li>
            <a href="https://toptutoring.com/about_us">About</a>
          </li>
          <li>
            <a href="https://toptutoring.com/contact">Contact</a>
          </li>
        </ul>
      </div>
      <span class="rights">© Copyright 2017 Top Tutoring - All Rights Reserved</span>
    </div>
  </div>
</footer>
