<footer class="footer-2 bg-dark pt96 pt-xs-40 footer-top-padding">
  <div class="row fade-half">
    <div class="col-sm-12">
      <span class="footer-left">
        <ul class="col-md-12 col-xs-6">
          <li>
            <a href="https://toptutoring.com/" class="uppercase mb16 fade-on-hover footer-link first">Home</a>
          </li>
          <li>
            <%= link_to "Find a tutor", client_sign_up_url(subdomain: "app"), class: "uppercase mb16 fade-on-hover footer-link" %>
          </li>
          <li>
            <a href="https://toptutoring.com/careers" class="uppercase mb16 fade-on-hover footer-link">Careers</a>
          </li>
          <li>
            <a href="https://toptutoring.com/blog" class="uppercase mb16 fade-on-hover footer-link">Blog</a>
          </li>
          <li>
            <a href="https://toptutoring.com/top-tutors" class="uppercase mb16 fade-on-hover footer-link">Our Tutors</a>
          </li>
          <li>
            <a href="https://toptutoring.com/about_us" class="uppercase mb16 fade-on-hover footer-link">About</a>
          </li>
          <li>
            <a href="https://toptutoring.com/contact" class="uppercase mb16 fade-on-hover footer-link last">Contact</a>
          </li>
        </ul>
      </span>
      <span class="rights">© Copyright 2017 Top Tutoring - All Rights Reserved</span>
      </div>
    </div>
  </div>
</footer>
