<div class="row">
<footer class="footer-2 bg-dark text-center-xs">
  <div class="container">
    <div class="col-md-4 col-sm-4 fade-half">
      <div class="widget">
        <h6 class="title uppercase font_roboto">Contact</h6>
        <div class="instafeed" data-user-name="funsizeco">
          <ul>
            <li style="width:100% !important;">
            	<i class="fa fa-envelope-o"></i>
              <span class="fade-half">tutor@toptutoring.com</span>
            </li>
            <li style="width:100% !important;">
              <i class="fa fa-phone"></i>
              <span class="fade-half">510.842.5221</span>
            </li>
          </ul>
        </div>
        <a href="http://toptutoring.com/careers/"><h6 class="uppercase font_roboto careers-link">Careers</h6></a>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-sm-offset-2 fade-half">
      <div class="widget">
        <h6 class="title uppercase font_roboto">About</h6>
          <div class="instafeed" data-user-name="funsizeco">
            <ul>
              <li style="width:100% !important;">
                <span class="fade-half">Bay Area SAT test preparation and tutoring. Results that deliver.</span>
              </li>
              <li style="width:100% !important;">
                <span class="fade-half">Proudly Serving:
                  <br>
                  Alameda | Berkeley | Piedmont | Oakland
                  Moraga | Orinda | <br> Lafayette | Dublin | Pleasanton | Union City | Fremont | Castro Valley
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <div class="container">
    <div class="col-sm-12 text-center">
        <span class="fade-half">© Copyright 2017 Top Tutoring - All Rights Reserved</span>
      </div>
  </div>
</footer>
</div>
