<footer class="footer-2 bg-dark pt-xs-40 footer-top-padding">
  <div class="row fade-half">
    <div class="col-sm-12">
      <span class="footer-left">
        <ul>
          <li>
            <a href="http://www.toptutoring.com/how_it_works" class="uppercase mb16 fade-on-hover footer-link first">HOW IT WORKS</a>
          </li>
          <li>
            <%= link_to "Find a tutor", client_sign_up_path, class: "uppercase mb16 fade-on-hover footer-link" %>
          </li>
          <li>
            <a href="http://www.toptutoring.com/careers" class="uppercase mb16 fade-on-hover footer-link">Careers</a>
          </li>
          <li>
            <a href="http://www.toptutoring.com/blog" class="uppercase mb16 fade-on-hover footer-link">Blog</a>
          </li>
          <li>
            <a href="http://www.toptutoring.com/about_us" class="uppercase mb16 fade-on-hover footer-link">About</a>
          </li>
          <li>
            <a href="http://www.toptutoring.com/contact" class="uppercase mb16 fade-on-hover footer-link last">Contact</a>
          </li>
        </ul>
      </span>
      <span class="rights">© Copyright 2017 Top Tutoring - All Rights Reserved</span>
    </div>
  </div>
</footer>
