<!-- jQuery-->
<script type="text/javascript" src="../../plugins/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap JavaScript-->
<script type="text/javascript" src="../../plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Malihu Scrollbar-->
<script type="text/javascript" src="../../plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- Animo.js-->
<script type="text/javascript" src="../../plugins/animo.js/animo.min.js"></script>
<!-- Bootstrap Progressbar-->
<script type="text/javascript" src="../../plugins/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- jQuery Easy Pie Chart-->
<script type="text/javascript" src="../../plugins/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
<!-- jQuery Steps-->
<script type="text/javascript" src="../../plugins/jquery.steps/build/jquery.steps.min.js"></script>
<!-- Core JS-->
<script type="text/javascript" src="../../build/js/first-layout/app.js"></script>
<script type="text/javascript" src="../../build/js/first-layout/demo.js"></script>
<script type="text/javascript" src="../../build/js/page-content/forms/forms-wizard.js"></script>
<!-- Bootstrap JavaScript-->
<script type="text/javascript" src="../plugins/bootstrap/dist/js/bootstrap.min.js"></script>
