<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Top Tutoring</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport"/>
    <%= stylesheet_link_tag "toptutoring", media: 'all' %>
    <%= javascript_include_tag "toptutoring", media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
